{% extends 'base.html' %} {% block title %} {% load static %}
<title>Accreditations - Kalimudan Sa Ranao</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 mt-4 mb-4">
      <h1 class="fw-bold">Accreditations</h1>
      <br />

      <h4 style="color: green">Company Profile</h4>
      <p>
        Kalimudan Sa Ranao Foundation Inc., situated in Biaba-Damag, Marawi
        City, stands as a beacon of community service and development since its
        establishment in 1988. Committed to fostering positive change and
        addressing the needs of the local population, this organization has been
        a steadfast presence in the region for decades.
      </p>
      <p>
        To facilitate communication and engagement, Kalimudan Sa Ranao
        Foundation Inc. welcomes inquiries and connections through the contact
        numbers 0906 835 6989 and 0956 481 0641. These contact details serve as
        gateways for individuals, partners, and stakeholders to connect with the
        organization, fostering collaboration and support for its initiatives.
      </p>
      <p>
        The official registration and accreditation of Kalimudan Sa Ranao
        Foundation Inc. on September 26, 2005, mark a significant milestone in
        its journey. This formal recognition by an accrediting agency not only
        underscores the organization's legitimacy but also reflects its
        unwavering commitment to adhering to established standards and
        fulfilling its mission and goals with integrity.
      </p>
      <p>
        By obtaining official recognition, Kalimudan Sa Ranao Foundation Inc.
        demonstrates a dedication to transparency, accountability, and
        effectiveness in its operations. This milestone serves as a testament to
        the organization's credibility and positions it as a trusted entity
        within the community and broader network.
      </p>
      <p>
        As the organization continues to evolve and expand its impact, the 2005
        accreditation serves as a foundational pillar, guiding Kalimudan Sa
        Ranao Foundation Inc. in its pursuit of positive community
        transformation and sustainable development. This narrative highlights
        the organization's rich history, its commitment to excellence, and its
        ongoing efforts to make a meaningful difference in the lives of those it
        serves.
      </p>

      <p>
        <span class="fw-bold" style="color: green"> Name of Organization:</span>
        Kalimudan Sa Ranao Foundation Inc.
      </p>
      <p>
        <span class="fw-bold" style="color: green">Registered Address:</span>
        Biaba-Damag, Marawi City
      </p>

      <p>
        <span class="fw-bold" style="color: green">Contact No:</span> 0906 835
        6989 / 0956 481 0641
      </p>

      <p>
        <span class="fw-bold" style="color: green">Date Organized:</span> 1988
      </p>

      <p>
        <span class="fw-bold" style="color: green"
          >Registering/Accrediting Agency Check:</span
        >
        September 26, 2005
      </p>

      <br />
      <h2 style="color: green">
        Permits, Government Accreditations, and Licenses
      </h2>
      <p>1. SEC Certificate</p>
      <p>2. Kalimudan Financial Statement</p>
      <p>3. General Information Sheet (GIS)</p>
      <p>4. Kalimudan Profile and Programme</p>
      <p>5. Ministry of Labor and Employment (BARMM02-0815-1020-006)</p>
      <p>
        6. Certificate of Accreditation (Province of Lanao del Sangguniang
        Panlalawigan)
      </p>
      <p>7. Certificate of Accreditation (Islamic City of Marawi)</p>
      <p>8. BIR TIN</p>
      <p>9. City Business Permit</p>
      <p>10. Sanitary Permit to Operate</p>
      <p>11. Fire Safety Inspection Certificate</p>
      <p>12. Barangay Business Clearance</p>
      <br />
      <p style="font-size: 12px">Last Updated: December 23, 2023</p>
    </div>
  </div>
</div>
{% endblock %}
