{% extends 'base.html' %} {% block title %}
<title>Accreditations - Kalimudan Sa Ranao</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="mx-auto">
    <h1 class="display-1" style="color: green">Accreditations</h1>
    <br />
    <h2 style="color: green">Company Profile</h2>
    <div style="display: flex; align-items: baseline">
      <p
        class="fs-5 fw-bold"
        style="color: green; margin-right: 10px; padding-left: 50px"
      >
        Name of Organization:
      </p>
      <div style="flex: 1">
        <p class="fs-5" style="color: inherit; margin: 0; padding-left: 190px">
          Kalimudan Sa Ranao Foundation Inc.
        </p>
      </div>
    </div>
    <div style="display: flex; align-items: baseline">
      <p
        class="fs-5 fw-bold"
        style="color: green; margin-right: 10px; padding-left: 50px"
      >
        Registered Address:
      </p>
      <div style="flex: 1">
        <p class="fs-5" style="color: inherit; margin: 0; padding-left: 220px">
          Biaba-Damag, Marawi City
        </p>
      </div>
    </div>
    <div style="display: flex; align-items: baseline">
      <p
        class="fs-5 fw-bold"
        style="color: green; margin-right: 10px; padding-left: 50px"
      >
        Contact No:
      </p>
      <div style="flex: 1">
        <p class="fs-5" style="color: inherit; margin: 0; padding-left: 295px">
          0906 835 6989 / 0956 481 0641
        </p>
      </div>
    </div>
    <div style="display: flex; align-items: baseline">
      <p
        class="fs-5 fw-bold"
        style="color: green; margin-right: 10px; padding-left: 50px"
      >
        Date Organized:
      </p>
      <div style="flex: 1">
        <p class="fs-5" style="color: inherit; margin: 0; padding-left: 255px">
          1988
        </p>
      </div>
    </div>
    <div style="display: flex; align-items: baseline">
      <p
        class="fs-5 fw-bold"
        style="color: green; margin-right: 10px; padding-left: 50px"
      >
        Registering/Accrediting Agency Check:
      </p>
      <div style="flex: 1">
        <p class="fs-5" style="color: inherit; margin: 0; padding-left: 40px">
          September 26, 2005
        </p>
      </div>
    </div>
  </div>
  <br />
  <h2 style="color: green">Permits, Government Accreditations, and Licenses</h2>
  <ul>
    <li><p class="fs-5">SEC Certificate</p></li>
    <li><p class="fs-5">Kalimudan Financial Statement</p></li>
    <li><p class="fs-5">General Information Sheet (GIS)</p></li>
    <li><p class="fs-5">Kalimudan Profile and Programme</p></li>
    <li>
      <p class="fs-5">
        Ministry of Labor and Employment (BARMM02-0815-1020-006)
      </p>
    </li>
    <li>
      <p class="fs-5">
        Certificate of Accreditation (Province of Lanao del Sangguniang
        Panlalawigan)
      </p>
    </li>
    <li>
      <p class="fs-5">Certificate of Accreditation (Islamic City of Marawi)</p>
    </li>
    <li><p class="fs-5">BIR TIN</p></li>
    <li><p class="fs-5">City Business Permit</p></li>
    <li><p class="fs-5">Sanitary Permit to Operate</p></li>
    <li><p class="fs-5">Fire Safety Inspection Certificate</p></li>
    <li><p class="fs-5">Barangay Business Clearance</p></li>
  </ul>
</div>

{% endblock %}
