{% extends 'base.html' %} {% block title %} {% load static %}
<title>Facts and figures - Kalimudan Sa Ranao</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 mt-4 mb-4">
      <h1 class="fw-bold">Facts and Figures</h1>
      <br />
      <p>
        Kalimudan, a Non-Government Organization (NGO) situated in Marawi City,
        Lanao Del Sur, has thrived over the years, amassing almost 35 years of
        experience in its journey. It has evolved into a well-established
        organization known for its lean and efficient staffing structure.
        Additionally, Kalimudan benefits from the support of external experts,
        including consultants and members of the Board who hail from academic
        backgrounds. In the course of its existence, Kalimudan has expanded its
        reach to cover 220 barangays in Lanao del Sur and Lanao del Norte, with
        a staff of 29 dedicated individuals. Its focus extends across various
        domains, encompassing sustainable resource management, health and
        literacy initiatives, peacebuilding, and micro-finance projects.
      </p>
      <br />

      <h2>Kalimudan History</h2>
      <p>
        In 1988, a group of young professional volunteers, including individuals
        from the academe and religious organizations, united their efforts to
        establish Kalimudan. Their shared goal was to voluntarily leverage their
        skills, talents, and expertise to uplift the impoverished and
        marginalized segments of society. Over the years, this grassroots
        initiative evolved into a well-structured and institutionalized
        Non-Government Organization (NGO). Kalimudan firmly believes in the
        importance of political stability, intercultural harmony, quality
        education, and a healthy population as crucial elements for peace and
        development. This belief fuels their consistent efforts to foster
        solidarity and harmonious relations among citizens, Civil Society
        Organizations, and Local Government, all working collaboratively for the
        betterment of their communities.
      </p>
      <p>
        Kalimudan's current initiatives span across four key clusters of
        activities, including major programs, special projects, contracted
        programs, and relief efforts for internally displaced people. Major
        programs encompass a wide range of activities such as peacebuilding,
        sustainable resource management, education, health, and the enhancement
        of local governance.
      </p>
      <p>
        Founded in 1988 under the name 'Kalimudan Sa Ranao,' Kalimudan
        Foundation began as a hub for discussions on how to impart knowledge and
        skills to local communities. Its transformation into an active community
        organization took shape when it responded to the aftermath of a
        prolonged drought and subsequent flooding in 1991-1992, which severely
        affected nine municipalities in Lanao del Sur. This experience motivated
        Kalimudan to conduct a series of ecological workshops advocating for the
        protection of the Lake Lanao environment. Additionally, the organization
        rallied against illegal logging operations in Lanao, firmly establishing
        itself as both a social and environmental advocate.
      </p>
      <p>
        In the years that followed, Kalimudan expanded its efforts in the realms
        of peace and development. The organization played a pivotal role in the
        creation of TRIPEACEDEV and became a driving force behind the Ranao
        Community Development Network (RCDN), a coalition of NGOs hailing from
        Lanao del Norte and Lanao del Sur.
      </p>
      <p>
        Since its inception in 1988, Kalimudan has fortified its position as an
        NGO dedicated to the betterment of the environment, livelihoods, health,
        and peace within the communities it serves.
      </p>
      <br />

      <h2>What do we do?</h2>
      <p class="text-decoration-underline fs-5 text-justify">
        Sustainable Resource Management
      </p>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item fs-5">
          Networking and advocacy on Lake Lanao watershed
        </li>
        <li class="list-group-item fs-5">Study of fish stocks in the lake</li>
        <li class="list-group-item fs-5">
          Promotion on sustainable agriculture
        </li>
        <li class="list-group-item fs-5">Assistance in livelihood</li>
        <li class="list-group-item fs-5">
          Formation of project management implementation teams with LGU
        </li>
      </ol>
      <p class="text-decoration-underline fs-5 text-justify">Health</p>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item fs-5">
          Promotion of traditional alternative medicine
        </li>
        <li class="list-group-item fs-5">Adult literacy</li>
        <li class="list-group-item fs-5">Health education and sanitation</li>
        <li class="list-group-item fs-5">Organizing women cooperatives</li>
      </ol>
      <p class="text-decoration-underline fs-5 text-justify">Peacebuilding</p>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item fs-5">
          Promotion of Meranao Culture of Peace
        </li>
        <li class="list-group-item fs-5">Interfaith Dialogue</li>
        <li class="list-group-item fs-5">
          Formation of Barangay Justice Advocates
        </li>
        <li class="list-group-item fs-5">Community Conflict Resolution</li>
        <li class="list-group-item fs-5">
          Enhancing community on peace facilitation
        </li>
      </ol>
      <p class="text-decoration-underline fs-5 text-justify">
        Kalimudan Micro-Finance Institute
      </p>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item fs-5">
          Conduct survey on the existence of small income generating activities
        </li>
        <li class="list-group-item fs-5">
          Community Orientation on micro-lending
        </li>
        <li class="list-group-item fs-5">
          Micolending services to selected Lending groups (33 beneficiaries)
        </li>
      </ol>
      <br />

      <br /><br />
    </div>
  </div>
</div>
{% endblock %}
