{% extends 'base.html' %} {% block title %} {% load static %}
<title>Facts and figures - Kalimudan Sa Ranao</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 mt-4 mb-4">
      <br />
      <h1 class="fw-bold">Facts and Figures</h1>
      <figure class="figure col-12" style="position: relative">
        <img
          src="{% static 'images/staffs.jpg' %}"
          class="card-img-top border rounded mx-auto img-fluid"
          alt="..."
        />
      </figure>
      <span class="fw-bold fs-3" style="color: green">Vision: </span
      ><span
        >Kalimudan envisions an empowered community living in peace with
        sustainable livelihood and a healthy environment.</span
      ><br />
      <span class="fw-bold fs-3" style="color: green">Mission: </span
      ><span
        >Kalimudan commits itself to enhance the capacities of its partners in
        development as they strive to build peace while securing their
        livelihood, improving health standards and nurturing the environment to
        uplive the well-being of the people of Lanao.</span
      ><br />
      <span class="fw-bold fs-3" style="color: green">Goals: </span
      ><span
        >Kalimudan will be known as a center for dialogue and Maranao
        organizing. Be a center bridge between the academe and the communities
        as a source of technology, have developed and discussed a maranao
        consciousness and control of its own organizational development and
        management system.</span
      >
      <br />
      <hr class="content-divider" />
      <br />
      <h2 style="color: #f9a603">What is Kalimudan?</h2>
      <p>
        Kalimudan, a Non-Government Organization (NGO) situated in Marawi City,
        Lanao Del Sur, has thrived over the years, amassing almost 35 years of
        experience in its journey. It has evolved into a well-established
        organization known for its lean and efficient staffing structure.
        Additionally, Kalimudan benefits from the support of external experts,
        including consultants and members of the Board who hail from academic
        backgrounds. In the course of its existence, Kalimudan has expanded its
        reach to cover 220 barangays in Lanao del Sur and Lanao del Norte, with
        a staff of 29 dedicated individuals. Its focus extends across various
        domains, encompassing sustainable resource management, health and
        literacy initiatives, peacebuilding, and micro-finance projects.
      </p>
      <br />

      <h2 style="color: #f9a603">Kalimudan History</h2>
      <p>
        In 1988, a group of young professional volunteers, including individuals
        from the academe and religious organizations, united their efforts to
        establish Kalimudan. Their shared goal was to voluntarily leverage their
        skills, talents, and expertise to uplift the impoverished and
        marginalized segments of society. Over the years, this grassroots
        initiative evolved into a well-structured and institutionalized
        Non-Government Organization (NGO). Kalimudan firmly believes in the
        importance of political stability, intercultural harmony, quality
        education, and a healthy population as crucial elements for peace and
        development. This belief fuels their consistent efforts to foster
        solidarity and harmonious relations among citizens, Civil Society
        Organizations, and Local Government, all working collaboratively for the
        betterment of their communities.
      </p>
      <p>
        Kalimudan's current initiatives span across four key clusters of
        activities, including major programs, special projects, contracted
        programs, and relief efforts for internally displaced people. Major
        programs encompass a wide range of activities such as peacebuilding,
        sustainable resource management, education, health, and the enhancement
        of local governance.
      </p>
      <p>
        Founded in 1988 under the name 'Kalimudan Sa Ranao,' Kalimudan
        Foundation began as a hub for discussions on how to impart knowledge and
        skills to local communities. Its transformation into an active community
        organization took shape when it responded to the aftermath of a
        prolonged drought and subsequent flooding in 1991-1992, which severely
        affected nine municipalities in Lanao del Sur. This experience motivated
        Kalimudan to conduct a series of ecological workshops advocating for the
        protection of the Lake Lanao environment. Additionally, the organization
        rallied against illegal logging operations in Lanao, firmly establishing
        itself as both a social and environmental advocate.
      </p>
      <p>
        In the years that followed, Kalimudan expanded its efforts in the realms
        of peace and development. The organization played a pivotal role in the
        creation of TRIPEACEDEV and became a driving force behind the Ranao
        Community Development Network (RCDN), a coalition of NGOs hailing from
        Lanao del Norte and Lanao del Sur.
      </p>
      <p>
        Since its inception in 1988, Kalimudan has fortified its position as an
        NGO dedicated to the betterment of the environment, livelihoods, health,
        and peace within the communities it serves.
      </p>
      <br />
      <h2 style="color: #f9a603">
        Development Philosophies and Management Practices
      </h2>
      <br />
      <p>
        Kalimudan envisions an empowered community with sustainable livelihood,
        healthy environment, living in peace and development.
      </p>
      <p>
        In its mission, Kalimudan aspires to be a centre to raise awareness of
        partners in development, mobilize, and enable them to take actions on
        issues and concerns that affect the well-being of the people of Lanao.
      </p>
      <p>
        Peacebuilding is anchored to all the programs of Kalimudan. It is
        similar with the gender in which we are serving both men and women
        sectors in the communities. This will be a part in exercising rights to
        access for basic services which is a fundamental human right.
      </p>
      <br />
      <h2 style="color: #f9a603">Financial System and Risk Management</h2>
      <p>
        Kalimudan, being a development NGO in the past almost three decades, has
        developed its own manual of operation and financial system, policies,
        and procedures. The staffs and workers of Kalimudan are required to
        attend review the manual of operation every year. The financial
        procedures and policies were prepared by an independent auditing.
        Financial audit is being conducted on yearly basis.
      </p>
      <p>
        The management team is composed of senior middle line managers who have
        worked with the institution for more than a decade. High levels of
        professionalism and dedication, is therefore expected.
      </p>
      <p>
        The board of trustees (BOT) meets every quarters and every three years,
        wherein strategic planning review is being conducted to ensure that the
        appropriate strategies are reviewed to attain the needs of the time.
      </p>
      <p>
        An average of 7 to 8 millions worth of projects in a year is being
        implemented by Kalimudan sa Ranao Foundation Incorporated (KRFI).
      </p>
      <br />
      <h2 style="color: #f9a603">Accounting Method</h2>
      <p>
        To ensure observance of limitations and restrictions placed on the use
        of resources available to Kalimudan, the foundation accounts are
        maintained in accordance with the principles of fund accounting. This is
        the procedure by which resources for various purposes are classified for
        accounting and reporting purposes into funds established according to
        their nature and purposes separate accounts are maintained for each
        fund; however, funds that have similar characteristics are combined into
        funds groups.
      </p>
      <p>
        Kalimudan follows the cash basis of accounting for its transactions
        except for the recognition of depreciation on property and equipments,
        provision for doubtful accounts and gains or losses arising from
        restatement of foreign currency cash balances; Consequently, certain
        revenues and the related assets are recognized when received rather than
        when earned; and certain expenses are recognized when paid rather than
        when the obligation is incurred.
      </p>
      <br />
      <h2 style="color: #f9a603">Basic Features</h2>
      <p>
        The general accounting system of Kalimudan classifies and presents the
        flow of accounting information from the original source documents to the
        books of original entry (Journals) and eventually to the book final
        entry (general ledger); The general ledger is the basis for the
        preparation of periodic trial balance and various financial reports.
      </p>

      <h2 style="color: #f9a603">What do we do?</h2>
      <h5>Sustainable Resource Management</h5>
      <ol class="list-group list-group-numbered">
        <p>1. Networking and advocacy on Lake Lanao watershed</p>
        <p>2. Study of fish stocks in the lake</p>
        <p>3. Promotion on sustainable agriculture</p>
        <p>4. Assistance in livelihood</p>
        <p>5. Formation of project management implementation teams with LGU</p>
      </ol>
      <h5>Health</h5>
      <ol class="list-group list-group-numbered">
        <p>1. Promotion of traditional alternative medicine</p>
        <p>2. Adult literacy</p>
        <p>3. Health education and sanitation</p>
        <p>4. Organizing women cooperatives</p>
      </ol>
      <h5>Peacebuilding</h5>
      <ol class="list-group list-group-numbered">
        <p>1. Promotion of Meranao Culture of Peace</p>
        <p>2. Interfaith Dialogue</p>
        <p>3. Formation of Barangay Justice Advocates</p>
        <p>4. Community Conflict Resolution</p>
        <p>5. Enhancing community on peace facilitation</p>
      </ol>
      <h5>Kalimudan Micro-Finance Institute</h5>
      <ol class="list-group list-group-numbered">
        <p>
          1. Conduct survey on the existence of small income generating
          activities
        </p>
        <p>2. Community Orientation on micro-lending</p>
        <p>
          3. Micolending services to selected Lending groups (33 beneficiaries)
        </p>
      </ol>
      <br />
      <p style="font-size: 12px">Last Updated: December 23, 2023</p>
    </div>
  </div>
</div>
{% endblock %}
