{% extends 'base.html' %} {% block title %} {% load static %}
<title>Manual of Operations - Kalimudan Sa Ranao</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 mt-4 mb-4">
      <br />
      <h1 class="fw-bold">Manual of Operations</h1>
      <figure class="figure col-12" style="position: relative">
        <img
          src="{% static 'images/staffs2.jpg' %}"
          class="card-img-top border rounded mx-auto img-fluid"
          alt="..."
        />
      </figure>
      <br />
      <hr class="content-divider" />
      <br />

      <h2 style="color: green">
        Operational Procedures Developed Manual for Kalimudan sa Ranao
        Foundation, Inc. Development Workers
      </h2>
      <br />
      <h3 style="color: #f9a603">Rationale</h3>
      <p>
        Just like office or institution its manual of operation is designed for
        particular focused and interest. These operation normal will be used a
        guide for newly recruited staff, interns, and volunteers, regular &
        probationary staff. Manual is premised that foe on office institution.
        Organization to sustain it must have its own guiding principles culture
        norms and standard policies to follow based general framework human
        dignity & mutual respect decency & discipline or cared Islamic
        principles tenets. Since Islam is peace & way of life each KFI staff
        should be always guided the way moderate Muslim act. Kalimudan workers
        will be guided the basic philosophy of ALTRUISM our happiness is derived
        when we see that others are happy of what we had imparted. We then not
        expect any valuable materials return and since the area where worked are
        meranao’s it is therefore a must for staff workers to conform to the
        expectation of being a truly meranao, who wish self-esteem determined.
      </p>
      <br />
      <h3 style="color: #f9a603">PERSONNEL POLICIES</h3>
      <br />
      <h3 style="color: #f9a603">DEFINITION</h3>
      <p>
        Personnel refer to all persons not a member. Employee of officially
        connected to KFI whose service are directly paid for implementation of
        the organization policies and under specific terms in an agreement
        contract duly concurred by the organization through its duly constituted
        official representatives.
      </p>
      <h3 style="color: #f9a603">BASIC PRINCIPLES</h3>
      <p>
        KFI commits the directly and full use of its human resources for the
        efficient implementation of its mission, vision and goal while affording
        it a system of personnel policies and procedure that upholds the dignity
        of labor, promotes full employment insures equal work opportunities
        regardless of sex, race or creed and fosters team spirit and collective
        work.
      </p>
      <h3 style="color: #f9a603">HIRING AND SELECTION</h3>
      <h3 style="color: #f9a603">1. Policy statement</h3>
      <p>
        KRFI shall recruit highly competent and committed individuals to fill
        the existing vacant position in the organizational structure/plantilla
        for its current project term. Applicants shall be given competitive
        examination and interviews and shall be selected on the basis of their
        qualification and fitness to perform the duties and assure
        responsibilities congruent to their position. Hiring of personnel for
        the KRFI operation shall be sole responsibility of the KRFI bodies.
      </p>
      <h3 style="color: #f9a603">2. Implementing guidelines</h3>
      <p>
        a) Sourcing of applicants <br />
        Recruitment of new members shall be the concern of the whole
        organization. Any personnel officer can recommend persons qualified to
        fill the vacancies. Sourcing may come from within or outside the
        institution, however qualified applicants from within shall give
        priority over those from outside (promotion or transfer of competent
        employees) if all relevant factors such as general qualifications and
        experience or relatively equal. All applicants shall be evaluated on the
        basis of their willingness to actively participate intake realization of
        organization mission, vision and goals; their competence as measured by
        results of competitive exams and interviews administered by Kalimudan;
        and their minimum experience and education requirement of the post
        applied for.
      </p>
    </div>
  </div>
</div>
{% endblock %}
