{% extends 'base.html' %} {% block title %} {% load static %}
<title>Manual of Operations - Kalimudan Sa Ranao</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 mt-4 mb-4">
      <br />
      <h1 class="fw-bold">Manual of Operations</h1>
      <figure class="figure col-12" style="position: relative">
        <img
          src="{% static 'images/staffs2.jpg' %}"
          class="card-img-top border rounded mx-auto img-fluid"
          alt="..."
        />
      </figure>
      <br />
      <hr class="content-divider" />
      <br />

      <h2 style="color: green">
        Operational Procedures Developed Manual for Kalimudan sa Ranao
        Foundation, Inc. Development Workers
      </h2>
      <br />
      <h3 style="color: #f9a603">Rationale</h3>
      <p>
        Just like office or institution its manual of operation is designed for
        particular focused and interest. These operation normal will be used a
        guide for newly recruited staff, interns, and volunteers, regular &
        probationary staff. Manual is premised that foe on office institution.
        Organization to sustain it must have its own guiding principles culture
        norms and standard policies to follow based general framework human
        dignity & mutual respect decency & discipline or cared Islamic
        principles tenets. Since Islam is peace & way of life each KFI staff
        should be always guided the way moderate Muslim act. Kalimudan workers
        will be guided the basic philosophy of ALTRUISM our happiness is derived
        when we see that others are happy of what we had imparted. We then not
        expect any valuable materials return and since the area where worked are
        meranao’s it is therefore a must for staff workers to conform to the
        expectation of being a truly meranao, who wish self-esteem determined.
      </p>
      <br />
      <h3 style="color: #f9a603">PERSONNEL POLICIES</h3>
      <br />
      <h3 style="color: #f9a603">DEFINITION</h3>
      <p>
        Personnel refer to all persons not a member. Employee of officially
        connected to KFI whose service are directly paid for implementation of
        the organization policies and under specific terms in an agreement
        contract duly concurred by the organization through its duly constituted
        official representatives.
      </p>
      <h3 style="color: #f9a603">BASIC PRINCIPLES</h3>
      <p>
        KFI commits the directly and full use of its human resources for the
        efficient implementation of its mission, vision and goal while affording
        it a system of personnel policies and procedure that upholds the dignity
        of labor, promotes full employment insures equal work opportunities
        regardless of sex, race or creed and fosters team spirit and collective
        work.
      </p>
      <h3 style="color: #f9a603">HIRING AND SELECTION</h3>
      <h3 style="color: #f9a603">1. Policy statement</h3>
      <p>
        KRFI shall recruit highly competent and committed individuals to fill
        the existing vacant position in the organizational structure/plantilla
        for its current project term. Applicants shall be given competitive
        examination and interviews and shall be selected on the basis of their
        qualification and fitness to perform the duties and assure
        responsibilities congruent to their position. Hiring of personnel for
        the KRFI operation shall be sole responsibility of the KRFI bodies.
      </p>
      <h3 style="color: #f9a603">2. Implementing guidelines</h3>
      <p>
        a) Sourcing of applicants <br />
        Recruitment of new members shall be the concern of the whole
        organization. Any personnel officer can recommend persons qualified to
        fill the vacancies. Sourcing may come from within or outside the
        institution, however qualified applicants from within shall give
        priority over those from outside (promotion or transfer of competent
        employees) if all relevant factors such as general qualifications and
        experience or relatively equal. All applicants shall be evaluated on the
        basis of their willingness to actively participate intake realization of
        organization mission, vision and goals; their competence as measured by
        results of competitive exams and interviews administered by Kalimudan;
        and their minimum experience and education requirement of the post
        applied for.
      </p>
      <h3 style="color: #f9a603">
        Procedural guidelines
        <br />
        The following procedure are deemed necessary:
      </h3>
      <p>
        a) Applicants are required to accomplish in full KFI's Personnel
        information sheet and submit their curriculum vitae. Official
        transcriopt of records and samples of written work deemed necessary.
        <br />
        b)The KRFI management shall initially screen applicant. Based on
        submitted documents the BOT shall evaluate the credentials of the
        applicant in relation the position he/she is applying for.
        <br />
        c) Applicants passing the initial screening are forwarded by the
        Executive Director to the screening committee.
        <br />
        d) The screening committee shall conduct an interview with the
        applicants in the presence of Executive Director to determine the
        qualification and eligibility of the applicant.
        <br />
        e) Skills tests shall be given to applicants whose credential are deemed
        appropriate the position applied for.
        <br />
        f) Based on submitted documents and background checks, the management
        will further consult with screening committee before finally forwarding
        recommendation to the chairman of the Board.
      </p>
      <h3 style="color: #f9a603">Pre-employment requirements</h3>
      <p>
        The newly hired employee shall submit to Kalimudan the following:
        <br />
        &nbsp;&nbsp;&nbsp;a) Certificate of training attended, when applicable
        <br />&nbsp;&nbsp;&nbsp;b) Clearance of liability from former employer
        <br />&nbsp;&nbsp;&nbsp;c) Medical Certificate
        <br />&nbsp;&nbsp;&nbsp;d) SSS and TIN, when applicable
      </p>
      <h3 style="color: #f9a603">
        Procedural guidelines for the transfer/reclassification/rehiring of
        personnel
      </h3>
      <br />
      <p>
        Personnel movement such as transfer, reclassification, and Rehiring
        shall be subject to the same guidelines and procedures as for newly
        hired employees (refer to guidelines on recruitment / Hiring)
      </p>
      <h3 style="color: #f9a603">Employment Status</h3>
      <h3 style="color: #f9a603">Policy Statement</h3>
      <p>
        Being a non-stock or non-profit organization is highly dependent on
        grants to fund its program implementation and operation. KFI is bound to
        hire project employees whose appointments are coterminous with the
        project term for and within which he/she is hired or with the
        availability of funds.
      </p>
      <h3 style="color: #f9a603">Implementing Guidelines</h3>
      <p>
        To determine differences in remuneration however, employment status of
        KFI Personnel shall be classified as follows.
      </p>
      <h3 style="color: #f9a603">Regular</h3>
      <p>
        A regular personnel is one who holds a regular position in take
        plantilla of the KFI for its defined project term and has satisfactory
        completed his/her probationary period of employment.
      </p>
      <h3 style="color: #f9a603">Probationary</h3>
      <p>
        Newly hired personnel undergone a probationary period for a minimum of
        three months or a maximum of six months at the fifth month of which
        he/she is evaluated before being appointed to regular status. A less
        than FLAT AVERAGE rating 3.0 (using the KFI evaluation scheme) in the
        evaluation will mean automatic termination for the probationary
        personnel.
      </p>
      <h3 style="color: #f9a603">Contractual</h3>
      <p>
        Contractual personnel is one who is for a specific project task, program
        or special duty the termination of which has been predetermined at the
        time of his/her engagement.
      </p>
      <p>
        Consultant is also contractual personnel. He/she is hired for a fixed
        term provides specialized technical assistance in his/her field of
        expertise.
      </p>
      <h3 style="color: #f9a603">Employment Compensation and Benefits</h3>
      <h3 style="color: #f9a603">Policy statement</h3>
      <p>
        KFI shall administer compensation and benefits in a manner that rewards
        the relative importance of the personnel corresponding to his/her and
        position in the organization. It shall also consider the individual
        social needs and welfare based on generally accepted standards and
        funding capacity of the partnerships.
      </p>
      <h3 style="color: #f9a603">Implementation Guidelines</h3>
      <h3 style="color: #f9a603">Salary determination</h3>
      <p>
        All KFI personnel shall receive salaries consistent with KFI; rank and
        salary scale.
      </p>
      <p>
        Salaries of personnel shall be determined on the basis of qualification,
        experience, skills and level of responsibility. Periodic review of the
        effective salary scale shall be done to make it at par with prevailing
        rates of to her NGOs and academic community.
      </p>
      <h3 style="color: #f9a603">Benefits</h3>
      <h3 style="color: #f9a603">a) SSS, PhilHealth, and Pag-ibig Benefits</h3>
      <p>
        All employees shall be fully covered by Social Security System (SSS).
        Phil Health and Pag Ibig and employees’ contribution and compensation
        benefits covering sick leaves salary loans pag-ibig loans for
        surviving-g beneficiaries hospitalization benefits and compensation for
        work--- related disabilities. The organization shall orient and assist
        its employee’s avail of these benefits to the full extent allowed by the
        system.
      </p>
      <h3 style="color: #f9a603">b) 13th month pay</h3>
      <p>
        All personnel irrespective of employment status are entitled to a 13th
        month pay equivalent to one month basic pay.
      </p>
      <p>
        Personnel who rendered less than a year of service will receive a 13
        month pay on a prorate basis computed using the formula:
      </p>
      <p>
        Effective monthly rate x no. of months of service divide by 12 months.
      </p>
      <h3 style="color: #f9a603">c) Tenure pay</h3>
      <p>
        Personnel who have rendered continuous service for a minimum of two
        years are entitled to a tenure pay.
      </p>
      <p>
        This amounts to 200.00 per year of service and is receivable every end
        of the month starting on his/her 2nd anniversary as an employee of the
        organization.
      </p>
      <h3 style="color: #f9a603">d) Loan benefits</h3>
      <p>
        Subject to the availability of funds, regular employees can avail of a
        salary loan amounting to the equivalent of their one month salary. The
        loan is payable within twelve months through automatic salary deduction
        every fifteen days with a two percent interest based on remaining
        balance. The first payment is done on the first pay day following the
        acquisition of the loan. Any previous loan must be cleared full settled
        first before succeeding request is entertained. Resigning staff member
        must be cleared of all loans.
      </p>
      <h3 style="color: #f9a603">e) Leave benefits</h3>
      <p>
        All regular personnel who have rendered one continuous year of service
        (probationary or contractual period included) are entitled to the
        following leave of absence with pay.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;a. 15 working days vacations leave
        <br />&nbsp;&nbsp;&nbsp;b. 15 working days sick leave
        <br />&nbsp;&nbsp;&nbsp;c. 30 days calendar maternity leave
        <br />&nbsp;&nbsp;&nbsp;d. 10 calendar days for paternity leave
      </p>
      <h3 style="color: #f9a603">Guidelines for Availment of leave credits</h3>
      <p>
        All personnel are required to file their request for leave at least a
        week before the actual date except in circumstances that do not allow
        the prior filing of such (e.g. sudden death in the family emergency
        cases). In case of the latter, the personnel should ensure that the
        section head and the ED are notified on the day of his/her absence or
        start of leave. The filling of the application should then be done the
        day he/she reports for work.
      </p>
      <p>
        Leave benefits should be earned and not enjoyed in advance. All requests
        for leave must be settled within the applicants unit and approved by the
        section head/program coordinator, As mentioned earlier, any unauthorized
        absences shall be considered absence without official leave AWOL and may
        be subjected to appropriate sanctions.
      </p>
      <p>
        All authorized absence beyond the leave credits shall be considered
        leave without pay.
      </p>
      <p>Accumulation of sick leave benefits is allowable.</p>
      <p>
        Request of regular personnel who wish to go on leave for personal
        reasons for a period beyond the leave credits available to him/her must
        be approved by the section head/program co-ordinator and Executive
        director.
      </p>
      <h3 style="color: #f9a603">Other welfare benefits</h3>
      <p>
        Once a personnel attains regular status, he/she is entitled to staff
        welfare benefits, these benefits, however are contingent on the
        existence of the staff welfare fund.
      </p>
      <h3 style="color: #f9a603">Medicare/Medicine Allowance</h3>
      <p>
        Health insurance program shall be employed to cover regular medical care
        hospitalization and other related services.
      </p>
      <h3 style="color: #f9a603">Personnel Action</h3>
      <p>
        It is Kalimudan ED who approves any action related to personnel.
        Recommendation for personnel action may be done by section head/program
        co-ordinator and then coursed through the ED or by the personnel upon
        prior consultation with the concerned section management (Head/Program
        Co-ordinator).
      </p>
      <p>The following are the definitions of personnel action.</p>
      <h3 style="color: #f9a603">
        Regular, Probationary, contractual appointment
      </h3>
      <h3 style="color: #f9a603">Promotion</h3>
      <p>
        Advancement in rank with corresponding increases in pay and in duties
        and responsibilities. Personnel lined-up for promotion shall undergo a
        three-month development assignment during which there will be no charge
        in the concerned personnel rank and salary after which he/she will be
        subject to evaluation. Upon confirmation of promotion, any increases in
        salary will be retroactive to the start of his/her development
        assignment.
      </p>
      <h3 style="color: #f9a603">Reclassification</h3>
      <p>
        Change in position with corresponding change on duties/responsibilities,
        provided that there will be no diminution of benefits for the concerned
        personnel and provided further that reclassification resulting to
        demotion in rank personnel being reclassified.
      </p>
      <h3 style="color: #f9a603">Transfer</h3>
      <p>
        Movement from one group / department or branch to another without
        changing one’s position, rank and salary. Transfer is permanent and the
        staff member’s connection with the former, group/department / branch
        shall be severed. Transferee’s salary shall be charged to the new unit.
      </p>
      <h3 style="color: #f9a603">Resignation</h3>
      <p>
        Voluntary action by a staff member to terminate his/her services from
        the organization submission of a resignation letter must be done at
        least a month prior to its date of affectivity.
      </p>
      <p>
        Resigning employees must comply with the necessary clearances and
        requirements prior to their disengagement form the organization
      </p>
      <h3 style="color: #f9a603">Termination</h3>
      <p>
        Conclusion of employment upon the recommendation of the section
        management even prior to termination date of appointment/contract it may
        be due to poor personnel evaluation results or to the position being
        closed for redundancy/cessation of operation of a unit.
      </p>
      <p>
        Termination of appointment also applies to regular appointees for reason
        such an administrative sanction against the personnel (dishonorable
        dismissal).
      </p>
      <p>
        Employees subjected to termination must comply with the necessary
        clearances and requirements prior to their disengagement from the
        organization.
      </p>
      <h3 style="color: #f9a603">Staff development</h3>
      <h3 style="color: #f9a603">Statement policy</h3>
      <p>
        The KFI aims to provide education, training and development programs to
        help its personnel acquire the knowledge, skills and positive attitude
        for their personal growth and for the growth of the KRFI.
      </p>
      <h3 style="color: #f9a603">Implementing Guidelines</h3>
      <p>
        The department heads are primarily responsible for charting a systematic
        development plan for their respective staff.
      </p>
      <p>
        A staff development committee shall be created to design a staff
        development program responsive to the needs of the individual and the
        KRFI.
      </p>
      <p>
        Education training and development programs may be carried out through:
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;a. KRFI initiated program courses and seminars deemed
        necessary.
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. On the job training
        <br />&nbsp;&nbsp;&nbsp; c. Attendance of the job related conferences
        and seminars. In instances when the KFI sends its personnel to attend a
        job related conference or seminars as a participant the personnel will
        required through the execution of a contract to render to the
        partnership a corresponding length of service. Such length of service
        will be determined based on the nature depth and comprehensiveness of
        the conference or seminar attended. <br />&nbsp;&nbsp;&nbsp; d. Exposure
        from community
      </p>
      <h3 style="color: #f9a603">Staff Evaluation</h3>
      <h3 style="color: #f9a603">Policy statement</h3>
      <p>
        The KFI shall conduct regular staff evaluation aimed at upgrading human
        resources capability. Evaluation will help every personnel to gauge
        his/her current performance as well a potential for further growth and
        development. Its benefits will redound to professional growth as well as
        to better services by the personnel to the KFI.
      </p>
      <h3 style="color: #f9a603">Evaluation Instrument</h3>
      <p>All personnel shall undergo evaluation without exception</p>
      <p>Schedule of staff evaluation shall be as follows:</p>
      <p>
        Newly hired – fifth month employment or one month before the end of the
        probationary period and sixth month of regular status.
      </p>
      <h3 style="color: #f9a603">Regular personnel</h3>
      <p>
        Regular personnel is subject to annual evaluation (Using the KFI’s
        personnel Evaluation Scheme) as contained in his/her appointment paper.
        A less than FLAT AVERAGE rating of 3.0 during the last evaluation period
        automatically puts the personnel into serious review for three months at
        the end of which he/she will again be evaluated another less than flat
        average rating 3.0 this time will become grounds for termination.
      </p>
      <p>
        Personnel evaluation shall be conducted in the context of regular
        unit/institutional assessment and summing-up to provide a framework from
        which to vie personnel performance.
      </p>
      <p>
        The staff and management shall arrive at a consensus and unity in
        viewing the individual personnel performance during the review period.
      </p>
      <h3 style="color: #f9a603">Evaluation of the Management Committee</h3>
      <p>
        The individual personnel shall evaluate on the basis of its capability
        as an administrative body. Individual members of the committee as well
        as by the staff of the department he/she directly handles.
      </p>
      <h3 style="color: #f9a603">Evaluation of staff members</h3>
      <p>
        The individual personnel under evaluation shall evaluate him/her.
        Likewise he/she shall be evaluated by his/her peers, immediate
        supervisor and or department head.
      </p>
      <p>
        Personnel evaluation shall be assisted / overseen by the organization
        ED.
      </p>
      <p>
        Performance evaluation results shall be collected. Computed and recorded
        by the KFI ED.
      </p>
      <p>Computed rating shall be the primary basis for personnel action.</p>
      <h3 style="color: #f9a603">Staff communication/Grievances Mechanism</h3>
      <h3 style="color: #f9a603">Statement of policy</h3>
      <p>
        The KFI shall keep open at all time all channels of communication
        between the management and staff members. The channels shall be
        maintained to keep working relation harmonious and to make the entire
        KFI and efficient, efficient and productive working team.
      </p>
      <h3 style="color: #f9a603">Implementing Guidelines</h3>
      <p>
        Personnel shall at all time, be informed of institutional, work
        development through staff meetings, bulletins, memos and publications.
      </p>
      <p>
        Venues for regular dialogues and consultation among the KFI staff shall
        be provided to thresh out and resolve the matter and issues of mutual
        interest. The immediate supervisor shall be responsible for setting or
        arbitrating all personnel problems in his/her area.
      </p>
      <p>
        The KFI management in coordination with the section head/program, shall
        assist arbitration settlement, arbitration and settlement of the
        problems, and in proposing viable solutions.
      </p>
      <h3 style="color: #f9a603">
        Procedural Guidelines (Addressing Grievances)
      </h3>
      <p>
        As a first step, The immediate supervisor must confer with the aggrieved
        party for clarification and objective presentation of issues involved.
        This is also to place the disagreement in its proper perspective. The
        section was the disagreement cropped up shall resort to collective
        resolution.
      </p>
      <p>
        If the second step does not suffice for a satisfactory settlement the
        matter will be elevated to next higher body. The president of the
        executive committee may be requested to participate until the matter is
        resolved.
      </p>
      <p>
        If the staff problem involves his immediate superior, he/she may seek
        the assistance of the KFI management and take the matter up directly to
        the next higher body.
      </p>
      <p>
        If the mediation of the KFI Management and the executive committee still
        does not suffice for satisfactory settlement an appeal can be addressed
        up to the Regional Governing Board for a final decision.
      </p>
      <h3 style="color: #f9a603">Personnel Discipline and Sanction</h3>
      <h3 style="color: #f9a603">Policy statement</h3>
      <p>
        The system of sanction is designed as a support mechanism to ensure that
        all personnel of the KFI observe and discharge their duties and
        responsibilities to the best interest of the KFI. This system of
        sanction is intended to provide management with the necessary measure to
        enforce decorum at all times and to protect and uphold the right of
        every employee due to process.
      </p>
      <h3 style="color: #f9a603">Implementing Guideline</h3>
      <p>
        The immediate superior is responsible for instilling positive discipline
        and handling cases of light offenses in his/her unit. All staff members
        should be given an orientation on correct behavior expected of him/her
        in the office. It should not however, be used as a substitute for
        effective supervision.
      </p>
      <p>
        When an employee has committed or is reported to have committed any of
        the offenses listed in the document. The following guideline must be
        observed before sanction such as suspension or dismissal can be meted
        out to the concerned personnel.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp; a. Two weeks after the executive committee is
        informed of the commission of the offence the COO must give the
        concerned personnel a written notice of the charges against him/her
        silence on the part of the executive committee after two weeks will mean
        automatic dismissal of the charges against the concerned personnel.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;b. One week after the concerned personnel has received
        the written notice of the charges against him/her. He/she must send a
        written reply to the executive committee the freedom to decide in matter
        based on existing records and execute when appropriate sanction against
        the concerned personnel.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;c. The executive committee must conduct a hearing
        within two weeks after their receipt of the written reply of the
        concerned personnel. During this meeting all parties concerned or
        involved in the case must be present and the concerned must have a
        chance to air his/her case. In cases where the written reply on the
        concerned may constitute sufficient bases for a fair and objective
        decision. The executive committee may proceed with formulating its
        decision even without s formal hearing.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;d. The executive committee will pass a written notice
        of its decision to the concerned section and personnel within a week
        after the hearing if no further investigation of the case is necessary.
        In cases where further investigation needs to be carried out a decision
        must be arrived at within one month after the hearing.
      </p>

      <p>
        &nbsp;&nbsp;&nbsp;e. An appeal for the meditation of the BOT can be
        made.
      </p>

      <p>
        &nbsp;&nbsp;&nbsp;f. Decision of the BOT is executory upon promulgation.
      </p>
      <p>
        In every case involving disciplinary action the dignity of the personnel
        must be upheld and fair humane and just treatment must be accorded to
        him/her. In administering disciplinary action. The following guidelines
        must be observed:
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;a. Sensitivity: Cases of disciplinary action shall be
        treated with utmost propriety at all times. When deemed necessary, cases
        may be treated with utmost confidentially.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;b. Promptness: Disciplinary action involving
        suspension or discharge from duty should be done within the soonest time
        possible.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;c. Impartiality: There should be no double standard of
        applied in addressing complains or cases of the disagreeing parties.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;d. Consistency: There should be double standard of
        sanctions for similar offenses by different offenders
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;e. Fairness: Erring staff members should be meted with
        the proper disciplinary action due to him/her.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;f. Non-punitive nature: The basic of any disciplinary
        action is to prevent future problems. Focus of disciplinay action should
        be on preventing recurrence of past problems as well as preventing new
        ones from arising rather than on administering punishment.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;g. Follow – through: Immediate supervisors should plan
        for immediate follow-up action especially for minor problems. This is to
        promptly remedy lapses so that they do not persist long to merit more
        severe disciplinary action.
      </p>
      <h3 style="color: #f9a603">Offenses</h3>
      <p>&nbsp;&nbsp;&nbsp;Light offenses</p>
      <p>
        The following are the light offenses that can be meted with reprimand
        for the first offenses suspension ranging from seven to twelve days for
        the third offense.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;a. Leaving the office premises or work station without
        prior permission from the section head/program coordinator during office
        hours.
      </p>
      <p>&nbsp;&nbsp;&nbsp;b. Failure to use the DTR and logbook.</p>
      <p>
        &nbsp;&nbsp;&nbsp;c. Failure to attend institutional activities without
        official excuse.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;d. Unauthorized absence from assign work areas and
        loitering around during office hours.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;e. Pursuit of private business during office hours.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;f. Bellicose behavior and unwarranted aggression
        within office premises.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;g. Rudeness and discourtesy in the course performing
        official duties.
      </p>
      <p>&nbsp;&nbsp;&nbsp;h. Consistently delayed liquidation.</p>
      <p>&nbsp;&nbsp;&nbsp;i. Damage/mishandling office properties.</p>
      <p>&nbsp;&nbsp;&nbsp;j. Wasting/spoiling materials and resources.</p>
      <p>
        &nbsp;&nbsp;&nbsp;k. Unauthorized use of office facilities for personal
        or outsider’s use.
      </p>
      <h3 style="color: #f9a603">Grave offenses</h3>
      <p>
        The following are acts which are considered grave offenses because of
        the serious negative impact they may cause on the status of the work of
        KFI in general. These acts are punishable by suspension of minimum of
        one month to a maximum of two months or outright dismissal:
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;a. Insubordination or willful disobedience of the
        lawful instruction of a superior or he/she representative in connection
        with official work/business.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;b. Gross and habitual neglect of
        duties/responsibilities (includes habitual tardiness/under timing and
        absences.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;c. Fraud or willful breach of trust reposed on the
        personnel by the management or it’s duly authorized representatives
        (includes willful violation of safety regulations, theft or office
        property, divulging confidential information, issuing malicious
        statement against the institution, participation in smear campaign and
        tempering of attendance records).
      </p>
      <p>&nbsp;&nbsp;&nbsp;d. Committing criminal acts punishable by law.</p>
      <p>
        &nbsp;&nbsp;&nbsp;e. Committing lascivious acts within the office
        premises.
      </p>
      <p>&nbsp;&nbsp;&nbsp;f. Malversation of funds of funds.</p>
      <p>
        &nbsp;&nbsp;&nbsp;g. Sexual opportunism (e.g. maintaining multiple
        sexual relations; engaging in sexual infidelity or fleshly
        satisfaction).
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;h. Serious misconduct and acts grossly damaging to the
        management (this includes alcoholism, drug addiction, habitual gambling,
        engaging in fraudulent transaction for personal gain like
        offering/receiving grease money, lending money at usurious rates.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;i. Total disregard of the KFI Constitution and
        by-laws.
      </p>
      <h3 style="color: #f9a603">Office administration</h3>
      <h3 style="color: #f9a603">Attendance monitoring/working hours</h3>
      <h3 style="color: #f9a603">Policy statement</h3>
      <p>
        All KFI personnel are required to render minimum of eighth of works per
        day and forty four hours of work per week.
      </p>
      <h3 style="color: #f9a603">Implementing guidelines</h3>
      <h3 style="color: #f9a603">Coverage</h3>
      <p>
        All personal regardless of employment status shall be covered by be
        policy in attendance monitoring and working hours. Personnel holding
        managerial and supervisory are not covered by the provision on undertake
        and overtime.
      </p>
      <p>Official working days</p>
      <p>The official working days are from Monday to Friday.</p>
      <h3 style="color: #f9a603">Official working hours</h3>
      <p>Flextime is allowable between 8:00 am and 7:00 pm</p>
      <p>
        Personnel in the administration department and other service functions
        must be in their designated work stations during official working days
        and follow the promptly attend to request inquiries and visitor that
        normally come within business hours. Any variation from the prescribed
        working hours must be approved by the section head/program coordinator.
      </p>
      <p>
        All other personnel are given more flexibility consideration of the
        offering natures of function faceted work of KFI. However the output
        orientation of the KFI management mandates it to require optimum
        performance and maximum output from its personnel and pushes it to
        devise effective monitoring schemes and control mechanism.
      </p>
      <p>
        The daily time record (DTR) and attendance logbook shall be the official
        attendance monitoring instruments for recording daily attendance,
        whereabouts and travels therefore, tampering of entries and taking the
        logbook from its proper place are prohibited.
      </p>
      <p>
        Properly accomplished and duly noted DTR’s submitted to the program
        coordinator within the third week of the month is a requirement for the
        release of regular salary of KFI staff.
      </p>
      <p>
        Personnel monitoring forms should be accomplished in triplicate by
        personnel who are going to undertake official activities outside office
        premises. The forms should be properly noted by the program/head
        section. A copy of these forms should be submitted to program/head and
        administrative personnel before conducting official business activity
        elsewhere.
      </p>
      <p>
        Failure to use any of the above mentioned (DTR, logbook, extra business
        monitoring form, LOA form). To justify absence from the work station of
        office premises during official hours may become grounds for sanction
        against the concerned personnel as any without official leave (AWOL).
      </p>
      <h3 style="color: #f9a603">Break time</h3>
      <p>The office shall observe two breaking periods during the day:</p>
      <p>Lunch break 12:00 to 1:00 pm</p>
      <p>Afternoon Coffee break not more the 20 minutes</p>
      <p>
        The one hour lunch period is not part of the regular working hours while
        the 20 minutes coffee break is.
      </p>
      <h3 style="color: #f9a603">Under time/absences</h3>
      <p>
        Under time shall refer to a deficiency in the number of working
        hours/days rendered in a day/week.
      </p>
      <p>
        For regular employees, under time and absences shall be deducted from
        their vacation leave credits. It all the vacation leave credits have
        already been consumed, remaining under time and absences will be
        conducted from the concerned personnel salary.
      </p>
      <p>
        For probationary personnel under time and absence shall automatically be
        deducted from the concerned personnel salary.
      </p>
      <p>
        Consistent undertiming and absenteeism resulting in deficiencies delays
        in work output however shall be dealt with accordingly and is subject to
        disciplinary action ranging from warning to dismissal.
      </p>
      <h3 style="color: #f9a603">Overtime</h3>
      <p>
        Overtime shall refer work hours rendered beyond the prescribed number of
        hours in completing additional workload as assigned and approved by the
        department head or his/her designated representative.
      </p>
      <h3 style="color: #f9a603">On office time</h3>
      <p>
        Through our work basically community work, it is expected though that in
        a month not less 50% of your time will be devoted to community work
        related least is 2 days times number of hours we therefore have register
        these honestly and be documented in DTR. DOR as proof that something
        good has be done at the community level. This proof has to be attested
        by those in communities (leaders) at the community level.
      </p>
      <p>
        On overtime each staff will be accorded should the work required more
        time but this has to be recognized as overtime by upper level of the
        structure. Proof of the output should be documented and authenticated by
        D.0.
      </p>
      <p>
        Every minutes/seconds for late, tardiness. Therefore corresponding
        changes will be determined in consensus basis. However should tardiness
        and late makes it as a problem 3x late calls for a warning. The four
        offenses require explanation with no question should be deducted with
        500. It will also discuss the matter with rewards and punishment
        committee of KFI should it be repeated at least twice after the reminder
        has been then, DC will make necessary recommendation to the management
        to review the part and advised him/her for another job with in not his
        choice but will have corresponding deduction on the salary. Islam
        considers time is life not like western that it’s equaled to gold. After
        all measure has been done and no intention observed as an effort to
        avert the situation Kalimudan will recommend the management to let
        workers leave no pay for one month.
      </p>

      <p>
        Explanation for late/tardiness will only be allowed thrice should there
        will be a valid ground (should be determined by D.O and E.D) it can only
        be allowed within a month (3).
      </p>
      <p>
        Late during special occasion/activities will be allowed otherwise it’s
        between life and death. KFI time 5 minutes before the actual activities
      </p>
      <h3 style="color: #f9a603">Reports</h3>
      <p>
        Monthly reporting is needed. Narrative – before it’s submission please
        let someone edit it first be straight to the point bulleted but with
        logic every end of Friday will be reporting all staff will present it to
        the panel. We will grade the presenter based on mastery of the topic,
        preparedness, consisting logic, posture, presentation, format design,
        audience’s impact, mannerism and self-confidence. This rating will be
        passed every month 30% will be added to your performance rating.
      </p>
      <p>&nbsp;&nbsp;&nbsp;Being on time(time management) [office, meeting]</p>
      <p>&nbsp;&nbsp;&nbsp;Presentation</p>
      <p>&nbsp;&nbsp;&nbsp;Honesty</p>
      <p>&nbsp;&nbsp;&nbsp;Clarity</p>
      <p>&nbsp;&nbsp;&nbsp;Creativity/resources</p>
      <p>&nbsp;&nbsp;&nbsp;Simplicity</p>
      <p>&nbsp;&nbsp;&nbsp;Prudent/modest spending</p>
      <p>&nbsp;&nbsp;&nbsp;Assertiveness</p>
      <p>&nbsp;&nbsp;&nbsp;Self confidence</p>
      <h3 style="color: #f9a603">Community</h3>
      <p>&nbsp;&nbsp;&nbsp;Output</p>
      <p>&nbsp;&nbsp;&nbsp;Feedback</p>
      <p>&nbsp;&nbsp;&nbsp;Productivity</p>
      <p>&nbsp;&nbsp;&nbsp;Maturation/resources</p>
      <h3 style="color: #f9a603">Reporting</h3>
      <p>&nbsp;&nbsp;&nbsp;Timely</p>
      <p>&nbsp;&nbsp;&nbsp;Documented</p>
      <h3 style="color: #f9a603">Absences</h3>
      <p>
        &nbsp;&nbsp;&nbsp;Without any permission will be automatically deducted
        for equal a day salary.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;With permission not granted due to heavy schedule in
        the office half of equivalent salary.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;With permission granted but no actual filling up forms
        ¼ equivalent of salary.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;Staff not complies the eight hours equivalent will be
        deducted per hour.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;CDF seems to be very busy they are still required for
        time in and time out.
      </p>
      <h3 style="color: #f9a603">KFI Security System Code</h3>
      <p>
        A security committee shall be created to monitor the implementation of
        the following rules and regulation,
      </p>
      <p>TASK</p>
      <p>&nbsp;&nbsp;&nbsp;A. Meet once a month</p>
      <p>
        &nbsp;&nbsp;&nbsp;B. Recommend new policies to be incorporated on
        consensus decision by all concern program.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;C. Perform other task as maybe provided by the
        management. Personnel
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a. Personnel When necessary cases
        deemed may be treated with utmost confidentially.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b. Promptness Disciplinary action
        involving suspension or discharge from duty should be done within the
        soonest time possible.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c. Impartially There should be no
        double standard applied in addressing complaints or cases of disagreeing
        parties.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; d. Consistency There should be
        double standard of sanction for similar offenses by different offenders.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; e. Fairness Staff member should be
        mated with the proper disciplinary action due to him/her.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; f. Non- punitive nature The basic
        of any disciplinary action is to prevent future problems. Focus of
        disciplinary action should be on preventing recurrence of past problems
        as well as preventing new ones from arising rather than on administering
        punishment.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; g. Follow-through Immediate
        supervisor should plan for immediate follow-up action especially minor
        problems. This is to promptly remedy lapses so that they do not persist
        long enough to merit more severe disciplinary action.
      </p>
      <p>
        Personnel are not entitled to all legally mandated additional overtime,
        premium or differential pay.
      </p>

      <h3 style="color: #f9a603">Rest day</h3>
      <p>
        Designated rest days like Sundays regular and special public holidays
        are generally observed. There are cases however. When the services of
        the staff are required even during these days shall be as follows; 1 and
        ½ days rest for every 5 and ½ consecutive days of work.
      </p>
      <p>
        For healthy combination of work respite, personnel taking outside trips
        are tasked to attend week-long live in meetings, seminars and conference
        are advised to take a rest immediately after.
      </p>
      <h3 style="color: #f9a603">Conduct and interpersonal relationship</h3>
      <p>
        &nbsp;&nbsp;&nbsp;Proper conduct, decorum, courtesy and decent attire
        must be observed during office hours.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;Staff is encouraged to be open and overboard in
        relating with other staff any issue related to Kalimudan work must be
        coursed through proper channels.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;Gambling is prohibited inside the office premises.
      </p>

      <h3 style="color: #f9a603">Use of Equipment</h3>
      <p>&nbsp;&nbsp;&nbsp;a. Computer</p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Each program is assigned with
        computer unit.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;Acquisition of new computer and updating the program
        to insure efficient processing of information is necessary, however it
        still depend on the decision of the management.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Only staff member are allowed to use
        the equipment during office hours.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Outsider requesting to use the
        computer after office hour or during weekends and holidays must ask
        permission from the administrative officer.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Opening on program on game during
        office hours is not allowed.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Each program is responsible for the
        maintenance of its assigned computer.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All staff is encouraged to acquire
        personal flash disk except for the program head which the office has to
        provide with.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Computer must properly switch off
        before leaving the office at 5:00 pm.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In case of repair, troubleshooting
        or problem in the operation of software it addresses by the committee in
        charge provided notice of complain stating the particular problems is
        submitted by the program head.
      </p>
      <p>&nbsp;&nbsp;&nbsp;b. Telephone</p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Telephone calls are strictly
        business matters. Personal calls should limited to three minutes.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Long distance calls should be logged
        in by the administrative officer in a logbook.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Personal long distance calls will be
        deducted automatically from the staff salary unless payment has already
        been made.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Personal calls after office hours
        should also limited to three minutes only.
      </p>
      <p>Telephone etiquettes</p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Say… Kalimudan Office “Assalamo
        Alaykom”
      </p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ask the name of the caller</p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Say… “whom would you like to speak
        to”
      </p>
      <p>&nbsp;&nbsp;&nbsp;c. Electric fan/electric thermos/gas stove</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Always unplug when not in use</p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cleaning and maintaining will be the
        responsibility of the caretaker.
      </p>
      <p>&nbsp;&nbsp;&nbsp;d. Office use</p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Only KFI staff and members are
        allowed to sleep in the office. Networks of the KFI who wants to sleep
        in the office will be considered as long as the administrative officer
        will be informed.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KFI staff and member who want to
        sleep in the office should inform the administrative staff beforehand.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Request by the other NGOs to hold
        the meetings in the hall shall be coursed and duly approved by the
        administrative officer and COO.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beneficiaries and guest may use the
        office according to scheduled activities provided it has the prior
        approval of the KFI management and the administrative officer.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Staff members and guest should clean
        all the things they are using including laundry of bed sheets and
        blankets.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lady staffs are discouraged to
        entertain male visitors within the office premises except on business
        matters.
      </p>
      <p>&nbsp;&nbsp;&nbsp;e. Safekeeping of files and documents</p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The administrative officer will be
        the custodian of the central files
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FA files and confidential records
        must keep in a vault.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All programs must provide the
        administrative officer with back up files of their important documents.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In securing a copy of a certain
        documents, one must ask the permission of the program coordinator who is
        keeping the record. Access of program file must be coursed through the
        program coordinator.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No outside borrower of office file
        unless with permission from the COO.
      </p>
      <p>&nbsp;&nbsp;&nbsp;f. Office Maintenance</p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Maintenance and repair work will be
        the primary responsibility of the care unless contracted out to others.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All staff is advice to clean their
        work area before logging out.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In case of program activity the
        proponent program will take charge of putting everything back to its
        proper order.
      </p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conserve water and electricity.</p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NAll staff shall arrange their
        slippers to space provided before leaving the office.
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Staffs are obliged to check the
        following before leaving the office.
      </p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. Windows</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. Doors lock</p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. Electric switch
      </p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d. Computers</p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e. Xerox machine
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;f. Water dispenser
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;g. Vacuum flash
      </p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;h. Lights</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i. Stoves</p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;j. Table and
        chairs
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;j. Table and
        chairs
      </p>

      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FA files and confidential records
        must keep in a vault.
      </p>
      <h3 style="color: #f9a603">On office time</h3>
      <p></p>
      <h3 style="color: #f9a603">On office time</h3>
      <p></p>
      <h3 style="color: #f9a603">On office time</h3>
      <p></p>
      <h3 style="color: #f9a603">On office time</h3>
      <p></p>
      <h3 style="color: red">UNDER CONSTRUCTION</h3>
      <br />
      <p style="font-size: 12px">Last Updated: December 23, 2023</p>
    </div>
  </div>
</div>
{% endblock %}
