{% extends 'base.html' %} {% load static %} {% block title %}
<title>Organizational Chart - Kalimudan Sa Ranao</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 mt-4 mb-4">
      <br />
      <h1 class="fw-bold">Organizational Chart</h1>
      <br />

      <br />
      <img
        src="{% static 'images/orgchart.png' %}"
        class="card-img-top border border-dark rounded mx-auto"
        alt="..."
      />

      <h3 class="fw-bold fs-5 mt-5" style="color: green">
        READ: KRFI Organizational Chart
      </h3>
      <p>
        The organizational chart of Kalimudan sa Ranao Foundation Inc. is
        depicted in the above image, illustrating a well-structured hierarchy to
        efficiently manage the organization's diverse functions and programs. At
        the apex of the structure is the Board of Directors, serving as the
        governing body responsible for strategic decision-making and overarching
        policy guidance.
      </p>
      <p>
        Directly reporting to the Board of Directors is the Executive Director,
        who holds a pivotal role in overseeing the day-to-day operations and
        ensuring the successful implementation of the Foundation's mission and
        goals. Below the Executive Director, the Chief Operating Officer (COO)
        takes charge, overseeing critical administrative and financial aspects
        to maintain the organization's stability and sustainability.
      </p>
      <p>
        Under the COO, there are three primary branches: Administration and
        Finance, which handles the financial aspects and general administration
        of the organization; Monitoring, Evaluation, Accountability, and
        Learning (MEAL), which focuses on assessing program effectiveness and
        impact; and Human Resource Management, responsible for the recruitment,
        development, and management of the organization's human capital.
      </p>
      <p>
        Further branching under the COO, the Management Information System team
        works to streamline and enhance the organization's data and information
        management processes.
      </p>
      <p>
        Continuing the organizational structure, a second layer under the COO
        encompasses various programmatic departments, each dedicated to a
        specific area of focus. These include Participative Governance and CVE
        (Countering Violent Extremism), Education Literacy Program,
        Peacebuilding Program, Sustainable Livelihood Program, and Disaster
        Preparedness and Community-Based Climate Change Adaptation (CCA).
        Additionally, the TVIS (Technical and Vocational Instruction System)
        Program is situated within this layer, contributing to the Foundation's
        educational initiatives.
      </p>
      <p>
        This well-organized structure reflects a holistic approach to community
        development, demonstrating the Foundation's commitment to addressing
        diverse needs across multiple sectors, from education and peacebuilding
        to sustainable livelihoods and disaster preparedness. The delineation of
        roles and responsibilities within the organizational chart ensures
        effective coordination and collaboration to achieve the Foundation's
        overarching mission in the Ranao region.
      </p>

      <br />
      <p style="font-size: 12px">Last Updated: December 23, 2023</p>
    </div>
  </div>
</div>
{% endblock %}
