{% extends 'base.html' %}

{% block title %}
<title> VMGs - Kalimudan Sa Ranao </title>
{% endblock %}

{% block content %}

<div class="container">
  <div class="mx-auto">
    <div class="row">
      <div class="col-md-6">
        <div class="card bg-light mb-4" style="width: 90%; height: 380px;">
          <div class="card-header green-card-header">.</div>
          <div class="card-body">
            <h2 class="card-title">Vision</h5>
              <p class="card-text fs-4">
                Kalimudan envisions an empowered community living in peace
                with sustainable livelihood and a healthy environment.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-light mb-4" style="width: 90%; height: 380px;">
            <div class="card-header green-card-header">.</div>
            <div class="card-body">
              <h2 class="card-title">Mission</h5>
                <p class="card-text fs-4">Kalimudan commits itself to enhance the capacities of its partners in development as they strive to build peace while securing their livelihood. Improving health standards and nurturing the environment to uplive the well-being of the people of Lanao.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-light mb-4" style="width: 90%; height: 380px;">
              <div class="card-header green-card-header">.</div>
              <div class="card-body">
                <h2 class="card-title">Goals</h5>
                  <p class="card-text fs-4">
                    Kalimudan will be known as a center for dialogue and Maranao organizing. Be a center bridge between the academe and the communities as a source of technology, have developed and discussed a maranao consciousness and control of its own organizational development and management system.         
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card bg-light mb-4" style="width: 90%; height: 380px;">
                <div class="card-header green-card-header">.</div>
                <div class="card-body">
                  <h2 class="card-title">Taglines</h5>
                    <p class="card-text fs-4">
                      #NoChildLeftBehind        
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
        