{% extends 'base.html' %} {% load static %} {% load custom_tags %}
<!---->
{% block title %}
<title>News - Kalimudan Sa Ranao Foundation Inc.</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 mt-4 mb-4">
      <br /><br />
      {% if statements_exist %}
      <div class="custom-divider">
        <div class="line"></div>
        <div class="text"><h4 class="fw-bold">Statements</h4></div>
        <div class="line"></div>
      </div>
      <br />

      <div class="row">
        {% for news in news_list %} {% if news.category == 'statements' %}
        <div class="col-md-4 mb-4">
          <div class="card bg-dark text-white">
            <img
              class="card-img"
              src="{{ news.image.url }}"
              style="opacity: 0.5; background-size: cover; height: 200px"
              alt="Card image"
            />

            <div class="card-img-overlay">
              <h5 class="card-title">{{ news.title }}</h5>
              <p class="card-text">{{ news.content }}</p>
              <a
                href="{% url 'homepage:news_detail' category=news.category slug=news.slug %}"
                class="btn btn-outline-light"
                >Read more...</a
              >
              <p>{{ news.date }}</p>
            </div>
          </div>
        </div>

        {% if forloop.counter|divisibleby:3 and not forloop.last %}
      </div>
      <div class="row">{% endif %} {% endif %} {% endfor %}</div>
      <a
        href="{% url 'homepage:news_list' category='statements' %}"
        class="btn btn-success"
      >
        View Statements
      </a>
      {% endif %}
    </div>

    <div class="col-11 mt-4 mb-4">
      {% if notices_exist %}
      <br /><br />
      <div class="custom-divider">
        <div class="line"></div>
        <div class="text"><h4 class="fw-bold">Notices</h4></div>
        <div class="line"></div>
      </div>
      <br />

      <div class="row">
        {% for news in news_list %} {% if news.category == 'notices' %}
        <div class="col-md-4 mb-4">
          <div class="card bg-dark text-white">
            <img
              class="card-img"
              src="{{ news.image.url }}"
              style="opacity: 0.5; background-size: cover; height: 200px"
              alt="Card image"
            />

            <div class="card-img-overlay">
              <h5 class="card-title">{{ news.title }}</h5>
              <p class="card-text">{{ news.content }}</p>
              <a
                href="{% url 'homepage:news_detail' category=news.category slug=news.slug %}"
                class="btn btn-outline-light"
                >Read more...</a
              >
              <p>{{ news.date }}</p>
            </div>
          </div>
        </div>

        {% if forloop.counter|divisibleby:3 and not forloop.last %}
      </div>
      <div class="row">{% endif %} {% endif %} {% endfor %}</div>
      <a
        href="{% url 'homepage:news_list' category='notices' %}"
        class="btn btn-success"
      >
        View Notices
      </a>
      {% endif %}
    </div>

    <div class="col-11 mt-4 mb-4">
      {% if projects_exist %}
      <div class="custom-divider">
        <div class="line"></div>
        <div class="text"><h4 class="fw-bold">Projects</h4></div>
        <div class="line"></div>
      </div>
      <br />

      <div class="row">
        {% for news in news_list %} {% if news.category == 'projects' %}
        <div class="col-md-4 mb-4">
          <div class="card bg-dark text-white">
            <img
              class="card-img"
              src="{{ news.image.url }}"
              style="opacity: 0.5; background-size: cover; height: 200px"
              alt="Card image"
            />

            <div class="card-img-overlay">
              <h5 class="card-title">{{ news.title }}</h5>
              <p class="card-text">{{ news.content }}</p>
              <a
                href="{% url 'homepage:news_detail' category=news.category slug=news.slug %}"
                class="btn btn-outline-light"
                >Read more...</a
              >
              <p>{{ news.date }}</p>
            </div>
          </div>
        </div>

        {% if forloop.counter|divisibleby:3 and not forloop.last %}
      </div>
      <div class="row">{% endif %} {% endif %} {% endfor %}</div>

      <a
        href="{% url 'homepage:news_list' category='projects' %}"
        class="btn btn-success"
      >
        View Projects
      </a>
      {% endif %}
    </div>
    <div class="col-11 mt-4 mb-4">
      <hr class="content-divider" />
    </div>
    <div
      class="list-group-item list-group-item-action d-flex justify-content-end"
    >
      <a href="{% url 'homepage:news_create' %}" class="btn btn-danger">
        Create new
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="{% url 'homepage:news_list' %}" class="btn btn-success">
        See all news
      </a>
    </div>
  </div>
</div>

{% endblock %}
