{% extends 'base.html' %} {% load static %} {% load custom_tags %}
<!---->
{% block title %}
<title>News - Kalimudan Sa Ranao Foundation Inc.</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 mt-4 mb-4">
      <div class="custom-divider mb-4">
        <div class="line"></div>
        <div class="text">
          <h2 class="fw-bold" style="color: orange">{{ news.category }}</h2>
        </div>
        <div class="line"></div>
      </div>

      <h1 class="news-title" style="color: green">{{ news.title }}</h1>
      <h6><i class="fa-regular fa-calendar"></i> {{ news.date }}</h6>
      <h6><i class="fa-solid fa-pen"></i> Sittie Fahida Cali</h6>
      {% if news.image %}
      <img
        src="{{ news.image.url }}"
        alt="{{ news.title }}"
        style="max-height: 500px; max-width: 500px"
      />
      {% endif %}
      <!--
        <p>#{{ news.category }}</p>
      -->

      <p>{{ news.content }}</p>

      {# Read Next and Read Previous Links #}
      <div class="d-flex justify-content-between mt-4">
        {% with prev_news=news.get_previous_by_date category=news.category %}
            {% if prev_news %}
                <p class="d-flex flex-grow-1 flex-shrink-0 justify-content-start">
                    <a href="{% url 'homepage:news_detail' category=prev_news.category slug=prev_news.slug %}"
                        class="btn text-start d-inline-block" style="white-space: normal; max-width: 75%;">
                        <i class="fa-solid fa-backward" style="color: green"></i>
                        <span class="fw-bold" style="color:green;">Previous Story</span> <br> {{ prev_news.title }}
                    </a>
                </p>
            {% endif %}
        {% endwith %}

        {% with next_news=news.get_next_by_date category=news.category %}
          {% if next_news %}
              <p class="d-flex flex-grow-1 justify-content-end">
                  <a href="{% url 'homepage:news_detail' category=next_news.category slug=next_news.slug %}"
                      class="btn text-end d-inline-block" style="white-space: normal; max-width: 100%; overflow: hidden; flex-shrink: 1;">
                      <span class="fw-bold" style="color:green;">Next Story</span>
                      <i class="fa-solid fa-forward " style="color: green"></i><br>
                      {{ next_news.title }}
                  </a>
              </p>
          {% endif %}
      {% endwith %}

      </div>
        <div
          class="list-group-item list-group-item-action d-flex justify-content-end"
        >
          <a
            href="{% url 'homepage:news_update' category=news.category slug=news.slug %}"
            class="btn btn-danger"
            >Update</a
          >

          &nbsp;&nbsp;&nbsp;&nbsp;
          <a
            href="{% url 'homepage:news_delete' category=news.category slug=news.slug %}"
            class="btn btn-danger"
          >
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>

  
</div>
{% endblock %}