{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
<title>News - Kalimudan Sa Ranao Foundation Inc.</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    

    <div class="col-11 mt-4 mb-4">
       <br><br>
    {% if statements_exist %}
        <h1>Statements</h1>

        <div class="row">
            {% for news in news_list %}
                {% if news.category == 'statements' %}
                    <div class="col-md-4 mb-4">
                        <div class="card bg-dark text-white">
                            <img
                                class="card-img"
                                src="{{ news.image.url }}"
                                style="opacity: 0.5; background-size: cover; height: 200px;"
                                alt="Card image"
                            />

                            <div class="card-img-overlay">
                                <h5 class="card-title">{{ news.title }}</h5>
                                <p class="card-text">{{ news.content }}</p>
                                <a href="{% url 'homepage:news_detail' category=news.category slug=news.slug %}"
                                    class="btn btn-outline-light">Read more...</a>
                                <p>{{ news.date }}</p>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div><div class="row">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <hr class="black-divider" />
    {% endif %}
    </div>


    <div class="col-11 mt-4 mb-4">
    {% if notices_exist %}
        <h1>Notices</h1>

        <div class="row">
            {% for news in news_list %}
                {% if news.category == 'notices' %}
                    <div class="col-md-4 mb-4">
                        <div class="card bg-dark text-white">
                            <img
                                class="card-img"
                                src="{{ news.image.url }}"
                                style="opacity: 0.5; background-size: cover; height: 200px;"
                                alt="Card image"
                            />

                            <div class="card-img-overlay">
                                <h5 class="card-title">{{ news.title }}</h5>
                                <p class="card-text">{{ news.content }}</p>
                                <a href="{% url 'homepage:news_detail' category=news.category slug=news.slug %}"
                                    class="btn btn-outline-light">Read more...</a>
                                <p>{{ news.date }}</p>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div><div class="row">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <hr class="black-divider" />
    {% endif %}
    </div>

    <div class="col-11 mt-4 mb-4">
    {% if projects_exist %}
        <h1>Projects</h1>

        <div class="row">
            {% for news in news_list %}
                {% if news.category == 'projects' %}
                    <div class="col-md-4 mb-4">
                        <div class="card bg-dark text-white">
                            <img
                                class="card-img"
                                src="{{ news.image.url }}"
                                style="opacity: 0.5; background-size: cover; height: 200px;"
                                alt="Card image"
                            />

                            <div class="card-img-overlay">
                                <h5 class="card-title">{{ news.title }}</h5>
                                <p class="card-text">{{ news.content }}</p>
                                <a href="{% url 'homepage:news_detail' category=news.category slug=news.slug %}"
                                    class="btn btn-outline-light">Read more...</a>
                                <p>{{ news.date }}</p>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div><div class="row">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <hr class="black-divider" />
    {% endif %}
    </div>

    
      
      <a href="{% url 'homepage:news_list' category='statements' %}">
        <button>View Statements</button>
      </a>
      <a href="{% url 'homepage:news_list' category='notices' %}">
        <button>View Notices</button>
      </a>
      <a href="{% url 'homepage:news_list' category='projects' %}">
        <button>View Projects</button>
      </a>
    </div>
  </div>
</div>

{% endblock %}
