{% extends 'base.html' %}

{% block title %}
<title> Tesda Information - Kalimudan Sa Ranao </title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="mx-auto">
    <figure>
      <blockquote class="blockquote">
        <h1 class="display-1" style="color: green;">TESDA Information page boilerplate
        </blockquote>
        <figcaption class="blockquote-footer">
          Company motto in <cite title="Source Title">Kalimudan</cite>
        </figcaption>
      </figure>
      <br />{% lorem 4 p random %}<br><br>
    </div>
  </div>
  {% endblock %}
  