.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.card-link {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
.card-link:hover {
  color: #000;
}
.list-group-item {
  border: none;
}

.navbar {
  font-family: "sans-serif", serif !important;
}
.navbar-nav .nav-item .nav-link {
  text-decoration: none;
}
.navbar-nav .nav-item .nav-link.active {
  color: darkgreen;
  text-decoration: underline;
}
.search-btn-wide {
  min-width: 120px;
}
footer a {
  text-decoration: none;
}
a.text-reset:hover {
  color: green !important;
}

.text-justify {
  text-align: justify;
}

.green-card-header {
  background-color: green;
  color: green;

  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #4caf50; /* Pretty green background color */
  }
  .user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #8bc34a; /* Light green card background */
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  }
  .form_container {
    margin-top: 20px;
  }
  #form-title {
    color: #fff;
  }
  .login_btn {
    width: 100%;
    background: #43a047 !important; /* Darker green button background */
    color: white !important;
  }
  .login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .login_container {
    padding: 0 2rem;
  }
  .input-group-text {
    background: #689f38 !important; /* Another green for input group text */
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
}
.navbar-nav-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}
