.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.card-link {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
.card-link:hover {
  color: #000;
}
.list-group-item {
  border: none;
}

.navbar {
  font-family: "sans-serif", serif !important;
}
.navbar-nav .nav-item .nav-link {
  color: darkgreen;
  text-decoration: none;
}
.navbar-nav .nav-item .nav-link.active {
  color: darkgreen;
  text-decoration: underline;
}
.search-btn-wide {
  min-width: 120px;
}
footer a {
  text-decoration: none;
}
a.text-reset:hover {
  color: green !important;
}

.green-card-header {
        background-color: green;
        color: green; /* Add white text color for better visibility */