{% extends 'register-login-base.html' %} {% block title %} {% load static %}
<title>Login - Kalimudan Sa Ranao</title>
{% endblock %} {% block content %}
<div class="login-container">
  <div class="login-box">
    <div class="welcome">
      <h1>Welcome</h1>
      <div class="circular-photo"></div>
    </div>
    {% for message in messages %}
    <p id="messages">{{message}}</p>
    {% endfor %}
    <div class="d-flex justify-content-center form_container">
      <form method="POST" action="">
        {% csrf_token %}

        <div class="input-group mb-2">
          <label>
            <input
              type="text"
              name="username"
              placeholder=" "
              class="form-control no-outline"
            />
            <span class="fw-bold">Username</span>
          </label>
        </div>
        <div class="input-group mb-2">
          <label>
            <input
              type="password"
              name="password"
              placeholder=" "
              class="form-control no-outline"
            />
            <span class="fw-bold">Password</span>
          </label>
        </div>
        <div class="d-flex justify-content-center mt-3 login_container">
          <input class="btn login_btn" type="submit" value="LOGIN" />
        </div>
      </form>
    </div>

    <div class="mt-4">
      <!--
      <div
        class="d-flex justify-content-center links fw-bold"
        style="opacity: 0.6"
      >
        Don't have an account?&nbsp
        <a
          href="{% url 'login:register' %}"
          style="color: green; text-decoration: none"
          >Sign Up</a
        >
      </div>
      -->
      <div
        class="d-flex justify-content-center links fw-bold"
        style="opacity: 0.6"
      >
        Cancel login?&nbsp
        <a
          href="{% url 'homepage:index' %}"
          style="color: green; text-decoration: none"
          >Homepage</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!--
16:00 https://www.youtube.com/watch?v=tUqUdu0Sjyc&list=PL-51WBLyFTg2vW-_6XBoUpE7vpmoR3ztO&index=15

-->
