{% extends 'register-login-base.html' %} {% block title %} {% load static %}
<title>Register - Kalimudan Sa Ranao</title>
{% endblock %} {% block content %}

<div class="login-container">
  <div class="login-box">
    <div class="welcome">
      <h1>Join Us</h1>
    </div>
    {% if form.errors %}
    <div class="error-text">{{ form.errors }}</div>
    {% endif %}

    <div class="d-flex justify-content-center form_container">
      <form method="POST" action="">
        {% csrf_token %}

        <div class="input-group mb-2">
          <label>
            <input
              type="text"
              name="{{ form.username.name }}"
              placeholder=" "
              class="form-control no-outline"
            />
            <span class="fw-bold">{{ form.username.label }}</span>
          </label>
        </div>
        <div class="input-group mb-2">
          <label>
            <input
              type="email"
              name="{{ form.email.name }}"
              placeholder=" "
              class="form-control no-outline"
            />
            <span class="fw-bold">{{ form.email.label }}</span>
          </label>
        </div>
        <div class="input-group mb-2">
          <label>
            <input
              type="password"
              name="{{ form.password1.name }}"
              placeholder=" "
              class="form-control no-outline"
            />
            <span class="fw-bold">{{ form.password1.label }}</span>
          </label>
        </div>
        <div class="input-group mb-1">
          <label>
            <input
              type="password"
              name="{{ form.password2.name }}"
              placeholder=" "
              class="form-control no-outline"
            />
            <span class="fw-bold">{{ form.password2.label }}</span>
          </label>
        </div>
        <div class="d-flex justify-content-center mt-3 login_container">
          <input class="btn login_btn" type="submit" value="REGISTER" />
        </div>
      </form>
    </div>

    <div class="mt-4">
      <div
        class="d-flex justify-content-center links fw-bold"
        style="opacity: 0.6"
      >
        Already have an account?&nbsp;
        <a
          href="{% url 'login:login' %}"
          style="color: green; text-decoration: none"
          >Login</a
        >
      </div>
      <div
        class="d-flex justify-content-center links fw-bold"
        style="opacity: 0.6"
      >
        Cancel registration?&nbsp;
        <a
          href="{% url 'homepage:index' %}"
          style="color: green; text-decoration: none"
          >Homepage</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
