{% extends 'base.html' %} {% load static %}

{% block title %}
<title> Project Information - Kalimudan Sa Ranao </title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 mt-4 mb-4">
      <h1 class="fw-bold">Projects: Information</h1>
      <br />
      <h4 style="color: green;">Current Year</h4>
      <table class="table table-hover table-borderless">
        <caption>Updated as of October 19, 2023</caption>
        <thead class="table-dark">
          <tr>
            <th scope="col">Project</th>
            <th scope="col">Cost</th>
            <th scope="col">Beneficiaries</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fw-bold">Kaped Ka CSO AKAP Bangsamoro MBHTE BARMM</td>
            <td>3,000,000.00</td>
            <td>Kinder to Grade Level</td>
            <td>2020-2025 (ONGOING)</td>
          </tr>
          <tr>
            <td class="fw-bold">Inclusive and Democratic BARMM through Transitional Justice, Conflict Transformation, and Preventing Violent Extremist (INCLUDE BARMM)</td>
            <td>3,270,270.00</td>
            <td>IDPs in Marawi City</td>
            <td>2023-June 2025 (ONGOING)</td>
          </tr>
          <tr>
            <td class="fw-bold">Organization, Management, and Delivery of Social Mobilization and Mobile COVID-19 Vaccination Services</td>
            <td>3,270,270.00</td>
            <td>School and Barangay in Marawi City</td>
            <td>June 15, 2023 to September 19, 2023 (ONGOING)</td>
          </tr>
          <tr>
            <td class="fw-bold">Technical Vocational Institute School</td>
            <td>BSPTVET Scholars 596,000.00</td>
            <td>85 Students (1st batch: 35 students, 2nd batch: 25 students, 3rd batch: 25 students)</td>
            <td>2021-2023 (ONGOING)</td>
          </tr>
        </tbody>
      </table>
      <br>
      <h4 style="color: green;">Previous Projects</h4>
        <table class="table table-hover table-borderless">
          <caption>Updated as of October 19, 2023</caption>
          <thead class="table-dark">
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Areas Covered (Province/Municipality)</th>
              <th scope="col">Source of Funding</th>
              <th scope="col">Year/s Undertaken</th>
              <th scope="col">Total Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fw-bold">Education Awareness</td>
              <td>Buadi Puso Buntong, Bubong Ramain Ditsaan, Balo-i, Saguiaran. 5 Municipalities and 1 City in Lanao del Sur</td>
              <td>SCIAF/Scotland</td>
              <td>1988-1991</td>
              <td>3,000,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Maranao Organizing & Institutional Development Phase 1 MOID1, Phase 2 MOID 2, Phase 3 MOID 3</td>
              <td>Bubong, Ramain, Buadi Puso Buntong, Lanao del Sur</td>
              <td>ICCO Netherland</td>
              <td>2001-2010</td>
              <td>18,046,260.07</td>
            </tr>
            <tr>
              <td class="fw-bold">Staff Skills Development (Organizational Strengthening)</td>
              <td>Kalimudan Staff</td>
              <td>POCC-ICCO Philippine</td>
              <td>2003-2004</td>
              <td>374,782.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Transformative Approach Peacebuilding</td>
              <td>Lanao del Sur</td>
              <td>CRS</td>
              <td>2003-2007</td>
              <td>2,000,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Barangay Justice Service System</td>
              <td>120 Barangays (Marawi City, Bubong, Kapatagan, Balo-I, and Pantar)</td>
              <td>Jerry Roxas Foundation</td>
              <td>2004-2007</td>
              <td>3,200,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">STARCM (Apid agriculture, infrastructure, institutional strengthening)</td>
              <td>Piagapo, Pualas, Butig, Kapai, Bubong, and Marawi City</td>
              <td>Support to Agrarian Reform Communities for Central Mindanao</td>
              <td>2005-2008</td>
              <td>7,700,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Peacebuilding Actions for Community Empowerment (Peace Mindanao)</td>
              <td>Pantar, Lanao del Norte, Ramain Ditsaan & Marawi City</td>
              <td>VSO - Peace</td>
              <td>2006-2007</td>
              <td>3,297,860.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Potable Water Supply System Level II</td>
              <td>Gadungan, Ramain, Panggao a Lupa Calanogas, and Marawi City</td>
              <td>Peace Equity Foundation (PEF)</td>
              <td>2006-2008</td>
              <td>1,700,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Municipal Agriculture Development Program</td>
              <td>Piagapo and Madamba, Lanao del Sur</td>
              <td>Local Governance Support Program in ARMM (LGSPA)</td>
              <td>2007-2009</td>
              <td>987,600.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Forum on Environment</td>
              <td>Marawi City</td>
              <td>Foundation of Philippine Environment (FPE)</td>
              <td>2009</td>
              <td>100,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">STRIDE Mindanao Relief and Shelter</td>
              <td>Salongabanding, Madalum, Lanao del Sur</td>
              <td>United Nation Development Program (UNDP)</td>
              <td>2009-2010</td>
              <td>5,000,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Shelter Repair</td>
              <td>10 Barangays in Municipality of Masiu, Buadi Poso Buntong, Pikong, Binidayan, Balindong, and Marawi City</td>
              <td>International Organization for Migration (IOM)</td>
              <td>2010</td>
              <td>1,400,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Shelter Repair</td>
              <td>10 Barangays in Municipality of Masiu, Buadi Poso Buntong, Pikong, Binidayan, Balindong, and Marawi City</td>
              <td>International Organization for Migration (IOM)</td>
              <td>2010</td>
              <td>1,400,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Early Recovery & Rehabilitation in Central Mindanao</td>
              <td>Bualan & Talub Balindong, Lanao del Sur</td>
              <td>UNDP Minda</td>
              <td>2011-2012</td>
              <td>11,000,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Relief and Medical</td>
              <td>Marawi City Evacuation Center</td>
              <td>Act Netherland Kerkin Aktie</td>
              <td>2012</td>
              <td>1,200,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Relief and Medical</td>
              <td>Piagapo, Balindong, Marantao, Lanao del Sur</td>
              <td>Netherland Rotary Club & Rogier Klaver Family</td>
              <td>2012</td>
              <td>300,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Relief and Medical</td>
              <td>Madalum, and Saguiaran, Lanao del Sur</td>
              <td>CRS</td>
              <td>2012</td>
              <td>400 package relief foods and groceries with hygiene kits</td>
            </tr>
            <tr>
              <td class="fw-bold">Bangladesh Alternative Rural Advancement Delivery Model (BRAC)</td>
              <td>10 Municipalities, 93 Barangays in Maguing, Taraka, Lumbaca Unayan, Bayang, Binidayan, Ramain, Balindong, Marantao, Marogong, and Tubaran, Lanao del Sur</td>
              <td>Australian Aid BRAC Philippines</td>
              <td>2012-2018</td>
              <td>72,655,369.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Modified Condition Transfer for Family in need of special protection (MCCT-FNSP) DSWD ARMM Regional Office</td>
              <td>15 Municipalities in Lanao del Sur</td>
              <td>DSWD ARMM Regional Office</td>
              <td>2013</td>
              <td>7,396,538.48; 3,042 families 4Ps beneficiaries</td>
            </tr>
            <tr>
              <td class="fw-bold">Citizen Report Card</td>
              <td>Marawi City</td>
              <td>USAID ENGAGE</td>
              <td>2017 (3 months)</td>
              <td>300,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Community Scorecard Traffic Management in the City</td>
              <td>Marawi City</td>
              <td>USAID ENGAGE</td>
              <td>2017 (3 months)</td>
              <td>100,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Family Conversation on Health Protection of Women, Human Rights & Recovery Rehabilitation</td>
              <td>Balindong, Marantao, and Saguiaran, Lanao del Sur</td>
              <td>Mindanao Coalition Development (MINCODE)</td>
              <td>2017 (5 months)</td>
              <td>200,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Enhancing Governance Accountability & Engagement Project (ENGAGE): Youth-led Response to the Impact of Marawi Siege</td>
              <td>MSU College, MDU High School; Marawi Areas: Basak Malutlut, Cadayunan II, Matampay, Saguiaran, and Balindong, Lanao del Sur</td>
              <td>USAID ENGAGE</td>
              <td>2017-2018</td>
              <td>Clients Copperatives, Community based organizations, in/out of school youth. Distributed sets of computers, and dress making machiens.</td>
            </tr>
            <tr>
              <td class="fw-bold">EFSA & 3rd Party Monitoring</td>
              <td>Lanao del Sur</td>
              <td>World Food Program (WFP)</td>
              <td>2017-2018</td>
              <td>1,400,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Life Saving Urban Container Gardening</td>
              <td>Marawi City</td>
              <td>Tuklas Innovation/Action Against Hunger</td>
              <td>2018</td>
              <td>1,000,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Echo Forgotten Crisis - Marawi Response</td>
              <td>Sagonsongan Shelter, Matungao Bakwit Village, Boganga shelter, Pag-asa Shelter</td>
              <td>CARE Philippines</td>
              <td>2019</td>
              <td>18,000,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">PAMANA 2017 Capacity Development & Livelihood Assessments, Organizing and Appropriate Trainings & Community Assistance Kits Distribution</td>
              <td>Buadi Puso Buntong, Wao, Bumbaran, Kapatagan, Balabagan & Malabang, Lanao del Sur</td>
              <td>International Organization for Migration (IOM) & Office of the Presidential Advice on Peace Process (OPAPP)</td>
              <td>2018-2020</td>
              <td>11,936,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Support to Peacebuilding & Normalization (SPAN) Program Social Healing and Peacebuilding Protect</td>
              <td>Barangay Banga, Cabingan, Dimalna, Rapasun, Lomidong Amito, Pindolunan, and Sagonsonan Shelter Marawi City</td>
              <td>United Nations Development Program - Office of the Presidential Advice on Peace Process (UNDP-OPAPP)</td>
              <td>2018-2020</td>
              <td>15,447,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Feeding Peace in Lanao del Sur</td>
              <td>Bubong, Ramain Ditsaan, Buado Puso Buntong, Piagapo, Saguiaran, Tugaya, and 6 Barangays in Marawi City</td>
              <td>CRS</td>
              <td>2020-2021</td>
              <td>3,059,950.00 (Admin & Operation); 42,000,000.00 released to 1,400 families (30,000 each)</td>
            </tr>
            <tr>
              <td class="fw-bold">Disaster Risk Reduction Management (Prepare, Protect, and Prevent)</td>
              <td>72 Barangays in Marawi City</td>
              <td>International Organization for Migration (IOM)</td>
              <td>2020-2021</td>
              <td>970,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Sustaining Transformative and Resilient in Vulnerable Communities (STRIVEC) in Ranao Philippines</td>
              <td>6 Barangays (Ditsaan-Ramain)</td>
              <td>Islamic Relief (IR)</td>
              <td>2020-March 2022</td>
              <td>1,800,000.00</td>
            </tr>
            <tr>
              <td class="fw-bold">Peacebuilding and Transitional Justice in Transforming Conflict Preventing Extremist Violence</td>
              <td>4 Municipalities: Taguloan, Piagapo, Balo-i, and Butig</td>
              <td>International Initiatives Development (IID) / Global Community Emergency Resiliency Fund (GCERF)</td>
              <td>February 2020 - December 2022</td>
              <td>2,595,700.00</td>
            </tr>
          </tbody>
        </table>
        <br>
        <h4 style="color: green;">Previous Programs & Project Engagements</h4>
        <table class="table table-hover table-borderless">
          <caption>Updated as of October 19, 2023</caption>
          <thead class="table-dark">
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Cost</th>
              <th scope="col">Beneficiaries</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fw-bold">Education Awareness</td>
              <td>3,000,000.00</td>
              <td>Community: Urban Poor, Youth, and Women</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Maranao Organizing & Institutional Development Phase 1 MOID 1, Phase 2 MOID 2, Phase 3 MOID 3</td>
              <td>18,046,260.07</td>
              <td>Community: Farmer, Fisherman, Youth, and Women</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Staff Skills Development (Organizational Strengthening)</td>
              <td>374,782.00</td>
              <td>Kalimudan Staff</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Transformative Approach Peacebuilding (Research on Maranao Settlement of Rido/Manual Book)</td>
              <td>2,000,000.00</td>
              <td>Youth, Women, Traditional Leaders, Religious, and Academe</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Barangay Justice Service System</td>
              <td>3,200,000.00</td>
              <td>Barangay Chairman, Councilor, Kagawad, Sangguiniang Bayan, Traditional Leader, Religious group, Women, and Youth.</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">STARCM (Apid Agriculture, Infrastructure, Institutional Strengthening)</td>
              <td>7,700,000.00</td>
              <td>Farmer, Cooperative</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Peacebuilding Actions for Community Empowerment (Peace in Mindanao)</td>
              <td>3,297,860.00</td>
              <td>Community: Women, Youth, Traditional Leaders, and Religious groups</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Potable Water Supply System Level II</td>
              <td>1,700,000.00</td>
              <td>Barangay Gadungan Ramain and 3 Barangays Calanogas</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Municipal Agriculture Development Program</td>
              <td>987,600.00</td>
              <td>Farmers</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Forum on Environment</td>
              <td>100,000.00</td>
              <td>Student, Women, and all sectors</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">STRIDE Mindanao for Relief and Shelter</td>
              <td>5,000,000.00</td>
              <td></td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Shelter Repair</td>
              <td>1,400,000.00</td>
              <td>Victims of Typoon</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Early Recovery & Rehabilitation in Central Mindanao</td>
              <td>11,000,000.00</td>
              <td>IDPs during Gloria Macapagal War. 2 Barangays in Balindong</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Relief and Medical</td>
              <td>300,000.00 & 400 relief packages</td>
              <td>IDPs from Marantao and Saguiaran</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Bangladesh Alternative Rural Advancement Delivery Model (BRAC)</td>
              <td>72,655,369.00</td>
              <td>Kinder to Grade 6 students</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Modified Condition Transfer for Family in need of Special Protection (MCCT - FNSP) DSWD ARMM</td>
              <td>7,395,538.48 (3042 4Ps family beneficiaries)</td>
              <td>4Ps Beneficiaries</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Citizen Report Card</td>
              <td>300,000.00</td>
              <td>Training and survey after Marawi Siege</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Community Scorecard Traffic Management in the City</td>
              <td>100,000.00</td>
              <td>Admin of the City, School Head, Barangay Chairman</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Family Conversation on Health Protection of Women, Human rights, & Recovery Rehabilitation</td>
              <td>200,000.00</td>
              <td>Father, Mother, and Children</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">EFSA & 3rd Party Monitoring</td>
              <td>1,400,000.00</td>
              <td>Hire 15 Facilitators and 15 Documentors, Surveyors, and Families affected in Ground Zero (Marawi Siege)</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Life-Saving Urban Container Gardening</td>
              <td>1,000,000.00</td>
              <td>Families of Barangay Basak Malutlut</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Echo Forgotten Crisis - Marawi Response</td>
              <td>5,186,846.00 (Admin & Operational); 18,000,000.00 released to beneficiaries</td>
              <td>Marawi Siege IDPs</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">PAMANA 2017 Capacity Development & Livelihood Assessments, Organizing, and Appropriate Trainings & Community Assistance Kits Distribution</td>
              <td>11,936,000.00</td>
              <td>Cooperative Members, Out of School Youth, Women, and Youth</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Support to Peacebuilding and Normalization (SPAN) Program Social Healing and Peacebuilding Protect</td>
              <td>15,447,000.00</td>
              <td>Allowance for students and IDPs (2,000,000.00) and Cooperatives for livelihood</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Feeding Peace in Lanao del Sur (Cash grant for food)</td>
              <td>3,059,950.00 (Admin & Operation); 42,000,000.00 for beneficiaries</td>
              <td>Marawi Siege Victims (IDPs)</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Disaster Risk Reduction Management (Prepare, Protect, and Prevent)</td>
              <td>970,000.00</td>
              <td>72 Barangays - Barangay Chairmen, Kagawad, BPAT, and officers of Barangay</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Sustaining Transformative and Resilient in Vulnerable Communities (STRIVEC) in Ranao Philippines</td>
              <td>1,800,000.00</td>
              <td>6 Barangays in Ramain Ditsaan, and 1 Municipality</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
            <tr>
              <td class="fw-bold">Technical Vocational Institute School</td>
              <td>BSPTVET Scholars (595,000.00)</td>
              <td>85 Students (3 Batches)</td>
              <td>&nbsp;&nbsp;<i class="fa-solid fa-check"></i></td>
            </tr>
          </tbody>
        </table>
        <br />
      <p style="font-size: 12px">Last Updated: December 23, 2023</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
