{% extends 'base.html' %} {% load static %}

{% block title %}
<title> About - Kalimudan Sa Ranao </title>
{% endblock %}

{% block content %}

<div class="container">
  <div class="mx-auto">
    <figure>

        <h1 class="display-1" style="color: green;">About Kalimudan </h1>
      </figure>
    <br /><p class="text-justify fs-5">Kalimudan is a Non-Government Organization (NGO) based in Marawi City, Lanao Del Sur. In its almost 35 years of existence, Kalimudan has developed into a well-established organization working with lean and mean staffing patterns, a backstopped by external experts - consultants, allies or members of the Board who are from the academe.</p><br>

    <h2 style="color: green;">Kalimudan History </h1>
    <p class="text-justify">
      <p class="fs-5"> In the year 1988, Kalimudan was established and set up by young professional volunteers, members from academe, religious groups, and bonded themselves in order to voluntarily share their acquired skills, talents, and expertise to benefit poor and marginalized sectors of the society. In its succeeding years, it evolved into a well-developed, systematic, and institutionalized NGO.
      </p>
      <p class="fs-5"> Believing that political stability, inter-cultural harmony, quality education and healthy population are keys to peace and development, it has consistenyl worked in promoting solidarity and harmonious relations between and among citizens. Civil Society Organizations and Local Government working together for peace and development.
      </p>
      <p class="fs-5"> Kalimudan's current work covers 4 clusters of activities, including <span class="fst-italic">(major programs, special projects, contracted programs, and relief to internally displaced people)</span>. Under major programs are peace building, sustainable resource management, education, health, and enhancing local governance.</p>
    </p>
    <br><br>
    <h2 style="color: green;">Core Competencies</h1>
    <img
      src="{% static 'images/corecompetencies.png' %}"
      class="card-img-top border border-dark rounded mx-auto"
      alt="..."
    />
    <br><br>
    <div style="display: flex; align-items-baseline;">
      <p class="fs-5 fw-bold" style="color: green; margin-right: 10px;">Organizational Chart:</p>
      <p class="fs-5" style="color: inherit; margin: 0;">The organizational chart visualizes an organization's hierarchy and reporting relationships.</p>
      <div style="flex: 1; text-align: right;">
        <a href="{% url 'homepage:orgchart' %}" class="btn btn-success">See Organizational Chart</a>
      </div>
    </div>
    <div style="display: flex; align-items-baseline;">
      <p class="fs-5 fw-bold" style="color: green; margin-right: 10px;">Visit KFI:</p>
      <p class="fs-5" style="color: inherit; margin: 0;">Visit KFI offers an opportunity to explore and engage with the Kalimudan Foundation Inc. </p>
      <div style="flex: 1; text-align: right;">
        <a href="{% url 'homepage:visitkfi' %}" class="btn btn-success">See Visit KFI</a>
      </div>
    </div>
    <div style="display: flex; align-items-baseline;">
      <p class="fs-5 fw-bold" style="color: green; margin-right: 10px;">Facts and Figures:</p>
      <p class="fs-5" style="color: inherit; margin: 0;">Facts and figures at KFI offers information about KFI's interesting data and impacts</p>
      <div style="flex: 1; text-align: right;">
        <a href="{% url 'homepage:factsandfigures' %}" class="btn btn-success">See Facts and Figures</a>
      </div>
    </div>
    <div style="display: flex; align-items-baseline;">
      <p class="fs-5 fw-bold" style="color: green; margin-right: 10px;">Administration:</p>
      <p class="fs-5" style="color: inherit; margin: 0;">Administration at KFI showcases the leadership and management that drives the foundation's operations.</p>
      <div style="flex: 1; text-align: right;">
        <a href="{% url 'homepage:administration' %}" class="btn btn-success">See Administration</a>
      </div>
    </div>
    <div style="display: flex; align-items-baseline;">
      <p class="fs-5 fw-bold" style="color: green; margin-right: 10px;">Vision-Mission-Goals (VMGs):</p>
      <p class="fs-5" style="color: inherit; margin: 0;">VMGs show the Vision, Mission, and Goals of KFI</p>
      <div style="flex: 1; text-align: right;">
        <a href="{% url 'homepage:vmgs' %}" class="btn btn-success">See VMGs</a>
      </div>
    </div>
    <div style="display: flex; align-items-baseline;">
      <p class="fs-5 fw-bold" style="color: green; margin-right: 10px;">Administration:</p>
      <p class="fs-5" style="color: inherit; margin: 0;">Accreditations at KFI showcases the foundation's official recognitions and certifications.</p>
      <div style="flex: 1; text-align: right;">
        <a href="{% url 'homepage:accreditations' %}" class="btn btn-success">See Accreditations</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
