{% extends 'base.html' %} {% block title %} {% load static %}
<title>Donate - Kalimudan Sa Ranao</title>
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 mt-4 mb-4">
      <h1 class="fw-bold">Donate</h1>
      <p>
        Welcome to the forthcoming "Donate to Us" page—an essential platform
        currently under construction that will soon offer you various avenues to
        support Kalimudan sa Ranao Foundation Inc. (KFI) and contribute to the
        causes of multiple advocacies. This page is meticulously designed to
        provide you with a range of options, allowing you to play a crucial role
        in keeping the spirit of KFI alive and furthering its impactful
        initiatives.
      </p>
      <p>
        As we work to construct this vital resource, envision a dynamic page
        that will guide you through diverse ways to make a meaningful
        difference. Whether you're looking to contribute financially, donate
        in-kind, or explore other creative means of support, the "Donate to Us"
        page will present you with clear and accessible options.
      </p>
      <p>
        This page will not only serve as a hub for financial contributions but
        will also showcase opportunities for active involvement, encouraging you
        to join hands with KFI in championing community development, education,
        peacebuilding, sustainable livelihoods, and disaster preparedness.
      </p>
      <p>
        We appreciate your patience as we put the finishing touches on this
        page, and we look forward to unveiling a platform that empowers you to
        be an integral part of the causes championed by KFI. Your support is
        instrumental in shaping a brighter future for the Ranao community and
        beyond.
      </p>
      <p>
        Check back soon for updates on the "Donate to Us" page, and explore the
        diverse ways you can contribute to the success and sustainability of
        Kalimudan sa Ranao Foundation Inc. Together, let's make a lasting impact
        on the lives of those we serve.
      </p>
    </div>
  </div>
</div>
{% endblock %}
