{% extends 'base.html' %} {% load static %} {% load custom_tags %}
<!--asiojasgioj-->
{% block title %}
<title>Home - Kalimudan Sa Ranao Foundation Inc.</title>
{% endblock %} {% block content %}

<div
  id="carouselKfi"
  class="carousel carousel-dark slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselKfi"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselKfi"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselKfi"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselKfi"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselKfi"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselKfi"
      data-bs-slide-to="5"
      aria-label="Slide 6"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img
        src="{% static 'images/1.png' %}"
        class="d-block mx-auto w-100 h-100"
        style="width: 100%; height: auto; max-height: 600px; object-fit: cover"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="{% static 'images/2.png' %}"
        class="d-block mx-auto w-100 h-100"
        style="width: 100%; height: auto; max-height: 600px; object-fit: cover"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="{% static 'images/3.png' %}"
        class="d-block mx-auto w-100 h-100"
        style="width: 100%; height: auto; max-height: 600px; object-fit: cover"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="{% static 'images/4.png' %}"
        class="d-block mx-auto w-100 h-100"
        style="width: 100%; height: auto; max-height: 600px; object-fit: cover"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="{% static 'images/5.png' %}"
        class="d-block mx-auto w-100 h-100"
        style="width: 100%; height: auto; max-height: 600px; object-fit: cover"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="{% static 'images/6.png' %}"
        class="d-block mx-auto w-100 h-100"
        style="width: 100%; height: auto; max-height: 600px; object-fit: cover"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselKfi"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselKfi"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br /><br /><br />

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-3 mx-2">
      <a
        href="https://www.facebook.com/PIALanaoDelSur/posts/pfbid0nqRZ87YVEUKXxBex3dFtyzrwN5rmgG9P7XfAdH5xeEmecvcQDeRFDd8V5jpFKqezl"
        class="card-link"
        target="_blank"
      >
        <div class="card border-success" style="height: 550px">
          <div class="text-center mb-3">
            <h6 class="card-title mb-0 pt-2 fs-5">NEWS</h6>
          </div>
          <div
            class="border-dark mx-auto"
            style="height: 200px; padding-left: 20px; padding-right: 20px"
          >
            <img
              src="{% static 'images/7.jpg' %}"
              class="card-img-top border border-dark rounded"
              alt="..."
              style="height: 200px"
            />
          </div>

          <div class="card-body">
            <p class="card-title">PIA Lanao Del Sur</p>
            <h6 class="card-subtitle mb-2">February 15, 2022</h6>

            <div class="card-div">
              <p class="card-text" style="font-size: 13px">
                TINGNAN! Upang tulungan sa pag alerto ng publiko sa mga panganib
                sa oras ng sakuna, ang Municipal Disaster Risk Reduction and
                Management Office ng Ditsaan-Ramain sa Lanao del Sur ay
                tumanggap ng dalawang motor sirens mula sa Islamic Relief
                Philippines at Kalimudan Foundation sa pamamagitan ng Sustaining
                Transformative & Resilient Initiatives in Vulnerable Communities
                (STRIVEC) in Ranao Philippines na pinondohan ng Islamic Relief
                Canada
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 mx-2">
      <a
        href="https://www.facebook.com/kfimarawi/posts/pfbid0LvUUxzt51e9WmEXjX6UxwUoWUxr6EKFm1kyTSfkwWWrV6a589TBL8xB44JcHeQtWl"
        class="card-link"
        target="_blank"
      >
        <div
          class="card border-success"
          style="height: 550px; overflow: hidden"
        >
          <div class="text-center mb-3">
            <h6 class="card-title mb-0 pt-2 fs-5">NEWS</h6>
          </div>
          <div
            class="border-dark mx-auto"
            style="height: 200px; padding-left: 20px; padding-right: 20px"
          >
            <img
              src="{% static 'images/10.jpg' %}"
              class="card-img-top border border-dark rounded mx-auto"
              alt="..."
              style="height: 200px"
            />
          </div>
          <div class="card-body">
            <p class="card-title">
              Abot Kaalaman sa Pamilyang Bangsamoro Project on its Planning
              Phase III
            </p>
            <h6 class="card-subtitle mb-2">December 6, 2021</h6>

            <div class="card-div">
              <p class="card-text" style="font-size: 13px">
                Abot Kaalaman sa Pamilyang Bangsamoro project on its Planning
                Phase III. The AKAP-BM project helps provide primary education
                for early childhood in adherence to #NoChildrenLeftOut and
                #NoStudentLeftBehind campaign and ensure that no children in
                Bangsamoro will be left behind their schooling. The project is
                in partnership with Consortium of Bangsamoro Civil Society
                (CBCS), Pathways and other CSO partners of CBCS in BARMM.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 mx-2">
      <a
        href="https://www.facebook.com/kfimarawi/posts/pfbid0KaprMfdD6sRuMvohoQQ6pDrWYLGYejLqvztXmw57PaLmaB9RtR59NMjSzKGPoW5yl"
        class="card-link"
        target="_blank"
      >
        <div
          class="card border-success"
          style="height: 550px; overflow: hidden"
        >
          <div class="text-center mb-3">
            <h6 class="card-title mb-0 pt-2 fs-5">NEWS</h6>
          </div>
          <div
            class="border-dark mx-auto"
            style="height: 200px; padding-left: 20px; padding-right: 20px"
          >
            <img
              src="{% static 'images/9.jpg' %}"
              class="card-img-top border border-dark rounded mx-auto"
              alt="..."
              style="height: 200px"
            />
          </div>
          <div class="card-body">
            <p class="card-title">Strengthening Democracy Globally</p>
            <h6 class="card-subtitle mb-2 text-muted">December 10, 2021</h6>

            <p class="card-text">
              Representing the Youth, Kalimudan participated in the Parliament
              101 Course for Civil Society Organizations in the Bangsamoro
              Region last November 29 in General Santos City, an event by
              Westminster Foundation for Democracy and UK Government.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<br /><br />
<hr class="black-divider" />
<br /><br />

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-3 mx-2">
      <a
        href="https://www.facebook.com/permalink.php?story_fbid=pfbid0sBUrdsUKuvwxMrDN8LiSRNYc9LN29gcbrRxPyg9QgYpvaguBbag3uCQBfYPUqQVkl&id=161977039296503"
        class="card-link"
        target="_blank"
      >
        <div
          class="card border-warning"
          style="height: 550px; overflow: hidden"
        >
          <div class="text-center mb-3">
            <h6 class="card-title mb-0 pt-2 fs-5">PROJECTS</h6>
          </div>
          <div
            class="border-dark mx-auto"
            style="height: 200px; padding-left: 20px; padding-right: 20px"
          >
            <img
              src="{% static 'images/8.jpg' %}"
              class="card-img-top border border-dark rounded mx-auto"
              alt="..."
              style="height: 200px"
            />
          </div>
          <div class="card-body" style="overflow: hidden">
            <p class="card-title">WFD Bangsamoro</p>
            <h6 class="card-subtitle mb-2">January 6, 2022</h6>

            <p class="card-text">
              To strengthen engagement with the Bangsamoro Transition Authority
              (BTA), civil society organizations (CSOs) in the Bangsamoro
              convene in Davao City for a two-day strategic planning to
              formulate strategies and action plans around issues of openness,
              transparency, accountability and people’s participation. Mindanao
              State University professor, Dr. Jovanie C. Espesor, discussed the
              importance of political economy analysis in the distribution of
              power vis-à-vis income and wealth and development interventions in
              the autonomous government.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 mx-2">
      <a
        href="https://www.facebook.com/kfimarawi/posts/pfbid02ceGYXrGGYA4FHKPX3oir5Qctu6pNdcCD2PsbVEAx14ceSCqRwM6p3tMXc4ZEcj8cl"
        class="card-link"
        target="_blank"
      >
        <div
          class="card border-warning"
          style="height: 550px; overflow: hidden"
        >
          <div class="text-center mb-3">
            <h6 class="card-title mb-0 pt-2 fs-5">PROJECTS</h6>
          </div>
          <div
            class="border-dark mx-auto"
            style="height: 200px; padding-left: 20px; padding-right: 20px"
          >
            <img
              src="{% static 'images/12.jpg' %}"
              class="card-img-top border border-dark rounded mx-auto"
              alt="..."
              style="height: 200px"
            />
          </div>
          <div class="card-body">
            <p class="card-title">Strategy Workshop in Ditsaan-Ramain</p>
            <h6 class="card-subtitle mb-2 text-muted">November 24, 2021</h6>

            <p class="card-text">
              The need for workshops about disaster prevention and mitigation of
              hazards strengthens the capacities of the people in Ditsaan to
              withstand or cope with hazards. Kalimudan along with partner iNGO
              aims for a safe and secured community and by educating its people
              from remote and disaster-prone areas, they will know how and when
              to act in case of exposure to risk . The Sustaining Transformative
              and Resilient Initiatives in Vulnerable Communites (STRIVEC) is a
              project by Kalimudan in partnership with Islamic Relief
              Philippines and funded by Islamic Relief Canada.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 mx-2">
      <a
        href="https://www.facebook.com/kfimarawi/posts/pfbid0d1Ek4kS4NotyDwuGuPbenPY5GN7qGcdkVttYw81ey2zJrdA9SQwLj19kLjWHgTBtl"
        class="card-link"
        target="_blank"
      >
        <div class="card border-danger" style="height: 550px; overflow: hidden">
          <div class="text-center mb-3">
            <h6 class="card-title mb-0 pt-2 fs-5">STATEMENTS</h6>
          </div>
          <div
            class="border-dark mx-auto"
            style="height: 200px; padding-left: 20px; padding-right: 20px"
          >
            <img
              src="{% static 'images/11.jpg' %}"
              class="card-img-top border border-dark rounded mx-auto"
              alt="..."
              style="height: 200px"
            />
          </div>
          <div class="card-body">
            <p class="card-title">Technology has revolutionized us</p>
            <h6 class="card-subtitle mb-2">December 1, 2021</h6>

            <p class="card-text">
              Nowadays, people depend on technology for a lot of reasons
              especially information dissemination. It is significant that users
              to be mindful of the risks to protect their gadgets in order to
              prevent unauthorized access, network attacks, hardware theft,
              software theft, information theft, system failure and more.
              Digital security is one of the significant topics to learn in this
              day and age. Partner NGOs opened an avenue for local NGOs to be
              educated about digital security and ways of effectively using
              multimedia for advocacy. The three-day Multimedia Advocacy
              Training last November in Cotabato City was an opportunity for yet
              another knowledge to unlock.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-md-8 border-end px-5">
      <div class="bg-white p-0">
        <h4 class="fw-bold text-center text-nowrap">TESDA Courses Offered</h4>
        <div class="list-group">
          <div class="container">
            <a
              href="{% url 'homepage:tesdacoursesoffered' %}"
              class="list-group-item list-group-item-action flex-column align-items-start"
            >
              <div class="row">
                <div class="col-md-3">
                  <img
                    src="{% static 'images/tesda/css 1.png' %}"
                    alt="Image"
                    class="img-fluid"
                  />
                </div>
                <div class="col-md-9">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" style="color: green">
                      Computer Systems Servicing NCII
                    </h5>
                    <small class="text-muted" id="computerDaysAgo"></small>
                  </div>
                  <p class="mb-1 clamp-lines-four">
                    TESDA CSS NC2, or the Technical Education and Skills
                    Development Authority Computer Systems Servicing National
                    Certificate II, focuses on imparting skills in computer
                    hardware, software, and network maintenance. It equips
                    students with the knowledge and expertise to assemble,
                    troubleshoot, and maintain computer systems effectively. The
                    program emphasizes essential IT competencies, making
                    graduates adept at handling computer-related issues and
                    providing technical support. This training opens doors to
                    careers as computer technicians and IT professionals in
                    various industries.
                  </p>
                  <small class="text-muted">click for more info</small>
                </div>
              </div>
            </a>
          </div>

          <div class="container">
            <a
              href="{% url 'homepage:tesdainformation' %}"
              class="list-group-item list-group-item-action flex-column align-items-start"
            >
              <div class="row">
                <div class="col-md-3">
                  <img
                    src="{% static 'images/tesda/bpp 1.png' %}"
                    alt="Image"
                    class="img-fluid"
                  />
                </div>
                <div class="col-md-9">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" style="color: green">
                      Bread & Pastry NCII
                    </h5>
                    <small
                      class="text-muted"
                      id="breadandpastryDaysAgo"
                    ></small>
                  </div>
                  <p class="mb-1 clamp-lines-four">
                    TESDA Bread and Pastry Production NC II equips students with
                    the skills needed to excel in the baking and pastry
                    industry. This program focuses on developing competencies in
                    preparing and producing various bakery and pastry products,
                    cakes, and desserts. Students learn about ingredient
                    selection, baking techniques, and presentation, enabling
                    them to work in bakeries, pastry shops, or even start their
                    own baking businesses. It's a hands-on training program that
                    provides a solid foundation in the art and science of baking
                    and pastry production.
                  </p>
                  <small class="text-muted">click for more info</small>
                </div>
              </div>
            </a>
          </div>

          <div class="container">
            <a
              href="{% url 'homepage:tesdainformation' %}"
              class="list-group-item list-group-item-action flex-column align-items-start"
            >
              <div class="row">
                <div class="col-md-3">
                  <img
                    src="{% static 'images/tesda/dressmaking 1.png' %}"
                    alt="Image"
                    class="img-fluid"
                  />
                </div>
                <div class="col-md-9">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" style="color: green">Dressmaking NCII</h5>
                    <small class="text-muted" id="dressmakingDaysAgo"></small>
                  </div>
                  <p class="mb-1 clamp-lines-four">
                    TESDA Dressmaking NC II imparts essential skills for
                    creating ladies' casual apparel in the garment sector.
                    Students learn how to draft and cut patterns, lay them out
                    on fabric, sew the materials together, and add the finishing
                    touches. This program focuses on precise garment
                    construction, fitting, and quality assurance. Graduates are
                    well-prepared to work in the fashion industry, whether in
                    clothing manufacturing, tailoring, or even launching their
                    fashion design businesses, due to the comprehensive
                    knowledge and hands-on experience gained in dressmaking.
                  </p>
                  <small class="text-muted">click for more info</small>
                </div>
              </div>
            </a>
          </div>
          <div
            class="list-group-item list-group-item-action d-flex justify-content-end"
          >
            <a
              href="{% url 'homepage:tesdacoursesoffered' %}"
              class="btn btn-dark"
              >See all courses</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 px-5">
      <div class="bg-white p-0">
        <h4 class="fw-bold text-center text-nowrap">Project Partners</h4>
        <div class="list-group">
          <a
            href="https://www.gcerf.org/"
            class="list-group-item list-group-item-action flex-column align-items-start mb-2"
            target="_blank"
          >
            <div
              class="d-flex w-100 justify-content-between"
              style="height: 75px; width: auto"
            >
              <img
                src="{% static 'images/partners/gcerf-removebg-preview.png' %}"
                alt="GCERF Image"
                class="img-fluid"
                style="height: 100%; width: 100%; object-fit: contain"
              />
            </div>
          </a>
          <a
            href="#"
            class="list-group-item list-group-item-action flex-column align-items-start mb-2"
            target="_blank"
          >
            <div
              class="d-flex w-100 justify-content-between"
              style="height: 75px; width: auto"
            >
              <img
                src="{% static 'images/partners/islamicrelief-removebg-preview.png' %}"
                alt="GCERF Image"
                class="img-fluid"
                style="height: 100%; width: 100%; object-fit: contain"
              />
            </div>
          </a>
          <a
            href="#"
            class="list-group-item list-group-item-action flex-column align-items-start mb-2"
            target="_blank"
          >
            <div
              class="d-flex w-100 justify-content-between"
              style="height: 75px; width: auto"
            >
              <img
                src="{% static 'images/partners/iom-removebg-preview.png' %}"
                alt="IOM Image"
                class="img-fluid"
                style="height: 100%; width: 100%; object-fit: contain"
              />
            </div>
          </a>
          <a
            href="#"
            class="list-group-item list-group-item-action flex-column align-items-start mb-3"
            target="_blank"
          >
            <div
              class="d-flex w-100 justify-content-between"
              style="height: 75px; width: auto"
            >
              <img
                src="{% static 'images/partners/crs-removebg-preview.png' %}"
                alt="CRS Image"
                class="img-fluid"
                style="height: 100%; width: 100%; object-fit: contain"
              />
            </div>
          </a>
          <a
            href="#"
            class="list-group-item list-group-item-action flex-column align-items-start mb-3"
            target="_blank"
          >
            <div
              class="d-flex w-100 justify-content-between"
              style="height: 75px; width: auto"
            >
              <img
                src="{% static 'images/partners/brac-removebg-preview.png' %}"
                alt="BRAC Image"
                class="img-fluid"
                style="height: 100%; width: 100%; object-fit: contain"
              />
            </div>
          </a>
          <div
            class="list-group-item list-group-item-action justify-content-end"
          >
            <a href="{% url 'homepage:projectspartners' %}" class="btn btn-dark"
              >See all partners</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<div class="custom-divider">
  <div class="line"></div>
  <div class="text"><h4 class="fw-bold">LEARN MORE</h4></div>
  <div class="line"></div>
</div>
<br />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="video-container">
        <iframe
          src="https://www.facebook.com/plugins/video.php?height=360&href=https://fb.watch/n-1WIxwlxL/"
          style="border: none; overflow: hidden"
          scrolling="no"
          frameborder="0"
          allowTransparency="true"
          allowfullscreen="true"
        ></iframe>
      </div>
      <br />
      <p>
        <span class="fw-bold fs-5" style="color: green"
          >WATCH: Growing Food, Saving Lives by Kalimudan Sa Ranao Foundation
          Incorporated </span
        ><br />
        Basak Malutlut residents are part of the first batch of returnees six
        months after the May 2017 siege. Some families have been separated
        during the chaos of the war. They were traumatized by the war, and again
        from months of living in evacuation centers. They came home to a ghost
        town. Their houses were ransacked. They had no food and no source of
        income. The general environment simply was not conducive to recovery and
        rehabilitation, which Maranaos needed the most. “It was every person for
        himself/herself for Marawi residents when the war broke out. They
        stopped caring about their friends, even other members of their family,”
        says Kimen of Kalimudan. Kalimudan sa Ranao, together with the community
        of Basak Malutlut in Marawi City, Lanao del Sur, developed an innovative
        system they call Growing Food, Saving Lives. It is a two-pronged
        approach which uses family conversations and urban container gardening
        to bring back the trust among the community and to provide livelihood to
        residents whose lives were disrupted by the war. This is one of the
        innovative social systems supported by TUKLAS Innovation Labs.
      </p>
      <br />

      <video width="100%" height="600px" controls>
        <source
          src="{% static 'videos/how-is-marawi.mp4' %}"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
      <br />
      <p>
        <span class="fw-bold fs-5" style="color: green"
          >WATCH: How Is Marawi? </span
        ><br />
        {% lorem 1 p random %}
      </p>
      <div
        class="list-group-item list-group-item-action d-flex justify-content-end"
      >
        <a href="{% url 'homepage:donate' %}" class="btn btn-success"
          >Become a donor</a
        >
        &nbsp&nbsp&nbsp
        <a href="{% url 'homepage:projectsinformation' %}" class="btn btn-dark"
          >See all projects</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
