{% extends 'base.html' %} {% load static %} {% load custom_tags %}
<!--asiojasgioj-->
{% block title %}
<title>Home - Kalimudan Sa Ranao Foundation Inc.</title>
{% endblock %} {% block content %}

<div
id="carouselKfi"
class="carousel carousel-dark slide carousel-fade"
data-bs-ride="carousel"
>
<div class="carousel-indicators">
  <button
  type="button"
  data-bs-target="#carouselKfi"
  data-bs-slide-to="0"
  class="active"
  aria-current="true"
  aria-label="Slide 1"
  ></button>
  <button
  type="button"
  data-bs-target="#carouselKfi"
  data-bs-slide-to="1"
  aria-label="Slide 2"
  ></button>
  <button
  type="button"
  data-bs-target="#carouselKfi"
  data-bs-slide-to="2"
  aria-label="Slide 3"
  ></button>
  <button
  type="button"
  data-bs-target="#carouselKfi"
  data-bs-slide-to="3"
  aria-label="Slide 4"
  ></button>
  <button
  type="button"
  data-bs-target="#carouselKfi"
  data-bs-slide-to="4"
  aria-label="Slide 5"
  ></button>
  <button
  type="button"
  data-bs-target="#carouselKfi"
  data-bs-slide-to="5"
  aria-label="Slide 6"
  ></button>
</div>
<div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="3500">
    <img
    src="{% static 'images/1.png' %}"
    class="d-block mx-auto w-100 h-100"
    style="width: 100%; height: auto; max-height: 600px; object-fit: cover"
    alt="..."
    />
  </div>
  <div class="carousel-item" data-bs-interval="3500">
    <img
    src="{% static 'images/2.png' %}"
    class="d-block mx-auto w-100 h-100"
    style="width: 100%; height: auto; max-height: 600px; object-fit: cover"
    alt="..."
    />
  </div>
  <div class="carousel-item" data-bs-interval="3500">
    <img
    src="{% static 'images/3.png' %}"
    class="d-block mx-auto w-100 h-100"
    style="width: 100%; height: auto; max-height: 600px; object-fit: cover"
    alt="..."
    />
  </div>
  <div class="carousel-item" data-bs-interval="3500">
    <img
    src="{% static 'images/4.png' %}"
    class="d-block mx-auto w-100 h-100"
    style="width: 100%; height: auto; max-height: 600px; object-fit: cover"
    alt="..."
    />
  </div>
  <div class="carousel-item" data-bs-interval="3500">
    <img
    src="{% static 'images/5.png' %}"
    class="d-block mx-auto w-100 h-100"
    style="width: 100%; height: auto; max-height: 600px; object-fit: cover"
    alt="..."
    />
  </div>
  <div class="carousel-item" data-bs-interval="3500">
    <img
    src="{% static 'images/6.png' %}"
    class="d-block mx-auto w-100 h-100"
    style="width: 100%; height: auto; max-height: 600px; object-fit: cover"
    alt="..."
    />
  </div>
</div>
<button
class="carousel-control-prev"
type="button"
data-bs-target="#carouselKfi"
data-bs-slide="prev"
>
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="visually-hidden">Previous</span>
</button>
<button
class="carousel-control-next"
type="button"
data-bs-target="#carouselKfi"
data-bs-slide="next"
>
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="visually-hidden">Next</span>
</button>
</div>

<br /><br /><br />

<div class="container">
  <div class="row justify-content-center">
    {% for stories in projects_stories %}
    <div class="col-md-3 mx-2">
      <a href="{% url 'homepage:stories_detail' category=stories.category slug=stories.slug %}" class="card-link" target="_blank">
        <div class="card border-success" style="height: 550px">
          <div class="text-center mb-3">
            <h6 class="card-title mb-0 pt-2 fs-5 text-uppercase">{{ stories.category }}</h6>
          </div>
          <div class="border-dark mx-auto" style="height: 200px; padding-left: 20px; padding-right: 20px">
            <img src="{{ stories.image.url }}" class="card-img-top border border-dark rounded" alt="..."
            style="height: 200px">
          </div>
          
          <div class="card-body">
            <p class="card-title">{{ stories.title }}</p>
            <h6 class="card-subtitle mb-2">{{ stories.date|date:"F d, Y" }}</h6>
            
            <div class="card-div">
              <p class="card-text" style="font-size: 13px">
                {{ stories.content }}
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>


<br /><br />
<hr class="black-divider" />
<br /><br />

<div class="container">
  <div class="row justify-content-center">
    {% if announcements_story %}
    <div class="col-md-3 mx-2">
      <a href="{% url 'homepage:stories_detail' category=announcements_story.0.category slug=announcements_story.0.slug %}" class="card-link" target="_blank">
        <div class="card border-danger" style="height: 550px">
          <div class="text-center mb-3">
            <h6 class="card-title mb-0 pt-2 fs-5 text-uppercase">{{ announcements_story.0.category }}</h6>
          </div>
          <div class="border-dark mx-auto" style="height: 200px; padding-left: 20px; padding-right: 20px">
            <img src="{{ announcements_story.0.image.url }}" class="card-img-top border border-dark rounded" alt="..."
            style="height: 200px">
          </div>
          
          <div class="card-body">
            <p class="card-title">{{ announcements_story.0.title }}</p>
            <h6 class="card-subtitle mb-2">{{ announcements_story.0.date|date:"F d, Y" }}</h6>
            
            <div class="card-div">
              <p class="card-text" style="font-size: 13px">
                {{ announcements_story.0.content }}
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endif %}
    
    {% if statements_story %}
    <div class="col-md-3 mx-2">
      <a href="{% url 'homepage:stories_detail' category=statements_story.0.category slug=statements_story.0.slug %}" class="card-link" target="_blank">
        <div class="card border-primary" style="height: 550px">
          <div class="text-center mb-3">
            <h6 class="card-title mb-0 pt-2 fs-5 text-uppercase">{{ statements_story.0.category }}</h6>
          </div>
          <div class="border-dark mx-auto" style="height: 200px; padding-left: 20px; padding-right: 20px">
            <img src="{{ statements_story.0.image.url }}" class="card-img-top border border-dark rounded" alt="..."
            style="height: 200px">
          </div>
          
          <div class="card-body">
            <p class="card-title">{{ statements_story.0.title }}</p>
            <h6 class="card-subtitle mb-2">{{ statements_story.0.date|date:"F d, Y" }}</h6>
            
            <div class="card-div">
              <p class="card-text" style="font-size: 13px">
                {{ statements_story.0.content }}
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endif %}
    
    
    {% if teambuilding_story %}
    <div class="col-md-3 mx-2">
      <a href="{% url 'homepage:stories_detail' category=teambuilding_story.0.category slug=teambuilding_story.0.slug %}" class="card-link" target="_blank">
        <div class="card border-warning" style="height: 550px">
          <div class="text-center mb-3">
            <h6 class="card-title mb-0 pt-2 fs-5 text-uppercase">{{ teambuilding_story.0.category }}</h6>
          </div>
          <div class="border-dark mx-auto" style="height: 200px; padding-left: 20px; padding-right: 20px">
            <img src="{{ teambuilding_story.0.image.url }}" class="card-img-top border border-dark rounded" alt="..."
            style="height: 200px">
          </div>
          
          <div class="card-body">
            <p class="card-title">{{ teambuilding_story.0.title }}</p>
            <h6 class="card-subtitle mb-2">{{ teambuilding_story.0.date|date:"F d, Y" }}</h6>
            
            <div class="card-div">
              <p class="card-text" style="font-size: 13px">
                {{ teambuilding_story.0.content }}
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endif %}
  </div>
</div>


<br />
<br />


<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 border-end px-5">
      <div class="bg-white p-0">
        <h4 class="fw-bold text-center text-nowrap">TESDA Courses Offered</h4>
        <div class="list-group">
          <div class="container">
            <a
            href="{% url 'homepage:tesdacoursesoffered' %}"
            class="list-group-item list-group-item-action flex-column align-items-start"
            >
            <div class="row">
              <div class="col-md-3">
                <img
                src="{% static 'images/tesda/css 1.png' %}"
                alt="Image"
                class="img-fluid"
                />
              </div>
              <div class="col-md-9">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1" style="color: green">
                    Computer Systems Servicing NCII
                  </h5>
                  <small class="text-muted">08/06/2019</small>
                </div>
                <p class="mb-1 clamp-lines-four">
                  TESDA CSS NC2, or the Technical Education and Skills
                  Development Authority Computer Systems Servicing National
                  Certificate II, focuses on imparting skills in computer
                  hardware, software, and network maintenance. It equips
                  students with the knowledge and expertise to assemble,
                  troubleshoot, and maintain computer systems effectively. The
                  program emphasizes essential IT competencies, making
                  graduates adept at handling computer-related issues and
                  providing technical support. This training opens doors to
                  careers as computer technicians and IT professionals in
                  various industries.
                </p>
                <small class="text-muted">click for more info</small>
              </div>
            </div>
          </a>
        </div>
        
        <div class="container">
          <a
          href="{% url 'homepage:tesdacoursesoffered' %}"
          class="list-group-item list-group-item-action flex-column align-items-start"
          >
          <div class="row">
            <div class="col-md-3">
              <img
              src="{% static 'images/tesda/bpp 1.png' %}"
              alt="Image"
              class="img-fluid"
              />
            </div>
            <div class="col-md-9">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" style="color: green">
                  Bread & Pastry NCII
                </h5>
                <small
                class="text-muted"
                >09/27/2022</small>
              </div>
              <p class="mb-1 clamp-lines-four">
                TESDA Bread and Pastry Production NC II equips students with
                the skills needed to excel in the baking and pastry
                industry. This program focuses on developing competencies in
                preparing and producing various bakery and pastry products,
                cakes, and desserts. Students learn about ingredient
                selection, baking techniques, and presentation, enabling
                them to work in bakeries, pastry shops, or even start their
                own baking businesses. It's a hands-on training program that
                provides a solid foundation in the art and science of baking
                and pastry production.
              </p>
              <small class="text-muted">click for more info</small>
            </div>
          </div>
        </a>
      </div>
      
      <div class="container">
        <a
        href="{% url 'homepage:tesdacoursesoffered' %}"
        class="list-group-item list-group-item-action flex-column align-items-start"
        >
        <div class="row">
          <div class="col-md-3">
            <img
            src="{% static 'images/tesda/dressmaking 1.png' %}"
            alt="Image"
            class="img-fluid"
            />
          </div>
          <div class="col-md-9">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1" style="color: green">Dressmaking NCII</h5>
              <small class="text-muted">09/27/2022</small>
            </div>
            <p class="mb-1 clamp-lines-four">
              TESDA Dressmaking NC II imparts essential skills for
              creating ladies' casual apparel in the garment sector.
              Students learn how to draft and cut patterns, lay them out
              on fabric, sew the materials together, and add the finishing
              touches. This program focuses on precise garment
              construction, fitting, and quality assurance. Graduates are
              well-prepared to work in the fashion industry, whether in
              clothing manufacturing, tailoring, or even launching their
              fashion design businesses, due to the comprehensive
              knowledge and hands-on experience gained in dressmaking.
            </p>
            <small class="text-muted">click for more info</small>
          </div>
        </div>
      </a>
    </div>
    <div
    class="list-group-item list-group-item-action d-flex justify-content-end"
    >
    <a
    href="{% url 'homepage:tesdacoursesoffered' %}"
    class="btn btn-dark"
    >See all courses</a
    >
  </div>
</div>
</div>
</div>
<div class="col-md-3 px-5">
  <div class="bg-white p-0">
    <h4 class="fw-bold text-center text-nowrap">Project Partners</h4>
    <div class="list-group">
      <a
      href="https://www.gcerf.org/"
      class="list-group-item list-group-item-action flex-column align-items-start mb-2"
      target="_blank"
      >
      <div
      class="d-flex w-100 justify-content-between"
      style="height: 75px; width: auto"
      >
      <img
      src="{% static 'images/partners/gcerf.png' %}"
      alt="GCERF Image"
      class="img-fluid"
      style="height: 100%; width: 100%; object-fit: contain"
      />
    </div>
  </a>
  <a
  href="#"
  class="list-group-item list-group-item-action flex-column align-items-start mb-2"
  target="_blank"
  >
  <div
  class="d-flex w-100 justify-content-between"
  style="height: 75px; width: auto"
  >
  <img
  src="{% static 'images/partners/islamicrelief-removebg-preview.png' %}"
  alt="Islamic Relief Image"
  class="img-fluid"
  style="height: 100%; width: 100%; object-fit: contain"
  />
</div>
</a>
<a
href="#"
class="list-group-item list-group-item-action flex-column align-items-start mb-2"
target="_blank"
>
<div
class="d-flex w-100 justify-content-between"
style="height: 75px; width: auto"
>
<img
src="{% static 'images/partners/iom-removebg-preview.png' %}"
alt="IOM Image"
class="img-fluid"
style="height: 100%; width: 100%; object-fit: contain"
/>
</div>
</a>
<a
href="#"
class="list-group-item list-group-item-action flex-column align-items-start mb-3"
target="_blank"
>
<div
class="d-flex w-100 justify-content-between"
style="height: 75px; width: auto"
>
<img
src="{% static 'images/partners/crs-removebg-preview.png' %}"
alt="CRS Image"
class="img-fluid"
style="height: 100%; width: 100%; object-fit: contain"
/>
</div>
</a>
<a
href="#"
class="list-group-item list-group-item-action flex-column align-items-start mb-3"
target="_blank"
>
<div
class="d-flex w-100 justify-content-between"
style="height: 75px; width: auto"
>
<img
src="{% static 'images/partners/brac-removebg-preview.png' %}"
alt="BRAC Image"
class="img-fluid"
style="height: 100%; width: 100%; object-fit: contain"
/>
</div>
</a>
<div
class="list-group-item list-group-item-action justify-content-end"
>
<a href="{% url 'homepage:projectspartners' %}" class="btn btn-dark"
>See all partners</a
>
</div>
</div>
</div>
</div>
</div>
</div>

<br />
<div class="custom-divider">
  <div class="line"></div>
  <div class="text"><h4 class="fw-bold">LEARN MORE</h4></div>
  <div class="line"></div>
</div>
<br />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="video-container">
        <iframe
        src="https://www.facebook.com/plugins/video.php?height=360&href=https://fb.watch/n-1WIxwlxL/"
        style="border: none; overflow: hidden"
        scrolling="no"
        frameborder="0"
        allowTransparency="true"
        allowfullscreen="true"
        ></iframe>
      </div>
      <br />
      <p>
        <span class="fw-bold fs-5" style="color: green"
        >WATCH: Growing Food, Saving Lives by Kalimudan Sa Ranao Foundation
        Incorporated </span
        ><br />
        Basak Malutlut residents are part of the first batch of returnees six
        months after the May 2017 siege. Some families have been separated
        during the chaos of the war. They were traumatized by the war, and again
        from months of living in evacuation centers. They came home to a ghost
        town. Their houses were ransacked. They had no food and no source of
        income. The general environment simply was not conducive to recovery and
        rehabilitation, which Maranaos needed the most. “It was every person for
        himself/herself for Marawi residents when the war broke out. They
        stopped caring about their friends, even other members of their family,”
        says Kimen of Kalimudan. Kalimudan sa Ranao, together with the community
        of Basak Malutlut in Marawi City, Lanao del Sur, developed an innovative
        system they call Growing Food, Saving Lives. It is a two-pronged
        approach which uses family conversations and urban container gardening
        to bring back the trust among the community and to provide livelihood to
        residents whose lives were disrupted by the war. This is one of the
        innovative social systems supported by TUKLAS Innovation Labs.
      </p>
      <br />
      
      <div class="video-container">
        <iframe src="https://drive.google.com/file/d/16eVPfQxNLdT-8u74BedKJ46KFIPzd69k/preview" 
        style="border: none; overflow: hidden"
        scrolling="no"
        frameborder="0"
        allowTransparency="true"
        allowfullscreen="true"></iframe>
      </div>
      <br>
      <p>
        <span class="fw-bold fs-5" style="color: green"
        >WATCH: How Is Marawi? </span
        ><br />
        Step into the heart of Marawi as we mark the 4th anniversary of the
        siege through a compelling video that unfolds the narrative of Marawi
        Solidarity and Memorialization. Experience the streets filled with
        people, united in peaceful protest and rallying to emphasize the
        collective memory of the harrowing events. This poignant video not only
        captures the solemnity of the occasion but also sheds light on the
        stories of resilience that have emerged from the aftermath. Through
        powerful visuals and testimonials, the video highlights the strength of
        a community that refuses to be defined by tragedy, showcasing the
        unwavering spirit of those who have come together to rebuild and support
        one another. As victims' pleas echo through the footage, the video
        serves as a call to action, urging viewers to empathize with the ongoing
        struggles faced by those affected. It becomes a compelling testament to
        the importance of remembrance, solidarity, and the pursuit of justice in
        the face of adversity. Intricately woven with emotional threads, this
        video not only honors the past but also stands as a symbol of hope for a
        brighter and more united future. Join us in commemorating Marawi
        Solidarity and Memorialization, as we strive to keep the memories alive
        and work towards a world where such tragedies are never repeated.
      </p>
      <div
      class="list-group-item list-group-item-action d-flex justify-content-end"
      >
      <a href="{% url 'homepage:stories_list' %}" class="btn btn-dark"
      >See stories</a
      >
      
    </div>
  </div>
</div>
</div>
{% endblock %}
