<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <style>
      .navbar {
        font-family: 'Roboto', sans-serif !important;
      }
      .search-btn-wide {
        min-width: 120px; /* Adjust the width as needed */
      }
        /* Remove underlines from all links within the footer */
      footer a {
        text-decoration: none;
      }

      /* Change link color to yellow on hover */
      a.text-reset:hover {
        color: orange !important; 
      }
    </style>


    <title>Kalimudan Sa Ranao Incorporated</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white pt-0">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/Kalimudan%20sa%20ranao%20inc.png"
            alt="KFI LOGO"
            class="img-fluid navbar-brand-img"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
            <li class="nav-item me-2">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown me-2">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                About
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#">Organizational Chart</a>
                </li>
                <li><a class="dropdown-item" href="#">Visit KFI</a></li>
                <li><a class="dropdown-item" href="#">Facts and Figures</a></li>
                <li><a class="dropdown-item" href="#">Administration</a></li>
                <li><a class="dropdown-item" href="#">Vision</a></li>
                <li><a class="dropdown-item" href="#">Mission</a></li>
                <li><a class="dropdown-item" href="#">Goals</a></li>
                <li><a class="dropdown-item" href="#">Accreditations</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">About</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown me-2">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                News
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Projects</a></li>
                <li><a class="dropdown-item" href="#">Notices</a></li>
                <li><a class="dropdown-item" href="#">Statements</a></li>
                <li><a class="dropdown-item" href="#">Location</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">General News</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown me-2">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Volunteering
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Apply</a></li>
                <li><a class="dropdown-item" href="#">Notices</a></li>
                <li><a class="dropdown-item" href="#">Statements</a></li>
                <li><a class="dropdown-item" href="#">Location</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">General News</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown me-2">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Projects
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#">Organizational Chart</a>
                </li>
                <li><a class="dropdown-item" href="#">Visit KFI</a></li>
                <li><a class="dropdown-item" href="#">Facts and Figures</a></li>
                <li><a class="dropdown-item" href="#">Administration</a></li>
                <li><a class="dropdown-item" href="#">Vision</a></li>
                <li><a class="dropdown-item" href="#">Mission</a></li>
                <li><a class="dropdown-item" href="#">Goals</a></li>
                <li><a class="dropdown-item" href="#">Accreditations</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown me-2">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                TESDA
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#">Organizational Chart</a>
                </li>
                <li><a class="dropdown-item" href="#">Visit KFI</a></li>
                <li><a class="dropdown-item" href="#">Facts and Figures</a></li>
                <li><a class="dropdown-item" href="#">Administration</a></li>
                <li><a class="dropdown-item" href="#">Vision</a></li>
                <li><a class="dropdown-item" href="#">Mission</a></li>
                <li><a class="dropdown-item" href="#">Goals</a></li>
                <li><a class="dropdown-item" href="#">Accreditations</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown me-2">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img
                  src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/searchbutton2.png"
                  alt="SEARCHBUTTON"
                  class="img-fluid navbar-brand-img"
                />
              </a>
               <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="searchDropdown">
                <li>
                  <!-- Search form -->
                  <form class="px-3 py-0">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="searchButton">
                      <button class="btn btn-outline-secondary search-btn-wide" type="button" id="searchButton">Search</button>
                    </div>
                  </form>
                </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div id="carouselExampleDark" class="carousel carousel-lightdesk   slide" data-bs-ride="carousel" >
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/1.jpg" class="d-block mx-auto w-100 h-100" style="max-width: 1000px; max-height: 500px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>“𝙏𝙝𝙚 𝘽𝙖𝙣𝙜𝙨𝙖𝙢𝙤𝙧𝙤 𝙀𝙡𝙚𝙘𝙩𝙤𝙧𝙖𝙡 𝘾𝙤𝙙𝙚 𝙨𝙝𝙤𝙪𝙡𝙙 𝙧𝙚𝙛𝙡𝙚𝙘𝙩 𝙩𝙝𝙚 𝘽𝙖𝙣𝙜𝙨𝙖𝙢𝙤𝙧𝙤 𝙥𝙚𝙤𝙥𝙡𝙚’𝙨 𝙖𝙨𝙥𝙞𝙧𝙖𝙩𝙞𝙤𝙣𝙨 𝙛𝙤𝙧 𝙘𝙡𝙚𝙖𝙣, 𝙝𝙤𝙣𝙚𝙨𝙩 𝙖𝙣𝙙 𝙥𝙚𝙖𝙘𝙚𝙛𝙪𝙡 𝙚𝙡𝙚𝙘𝙩𝙞𝙤𝙣𝙨.”</h5>
              <p>~ Amenodin Cali, executive director, Kalimudan sa Ranao Foundation Inc.</p>
            </div>
          </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/2.jpg" class="d-block mx-auto w-100 h-100" style="max-width: 1000px; max-height: 500px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>DO NOT FORGET TO VACCINATE!</h5>
              <p>Covid-19 vaccination is an effective way to reduce risks of getting infection with the virus and its corresponding symptoms...</p>
            </div>
          </div>
        <div class="carousel-item">
          <img src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/3.jpg" class="d-block mx-auto w-100 h-100" style="max-width: 1000px; max-height: 500px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>COMMITMENT SIGNING of Zone Peace Declaration for AKAP-BM project in Kapai and Tagoloan LDS</h5>
              <p>Poor quality education is a persistent struggle in BARMM regions which have continually disadvantaged a significant number of children especially from marginalized sectors...</p>
            </div>
          </div>
        <div class="carousel-item">
          <img src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/4.jpg" class="d-block mx-auto w-100 h-100" style="max-width: 1000px; max-height: 500px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
            <h5>The season of giving has finally dawned, gracing us with the beauty of lending hands and empowering one another. 🌙</h5>
            <p>The celebration of the holy month of Ramadan, as powerful as its purpose, is beyond the expression of reverence to Allah (SWT) but also our appreciation to one another...</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/5.jpg" class="d-block mx-auto w-100 h-100" style="max-width: 1000px; max-height: 500px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>"PANANADEM KO MUNA, SIPAT KO IMANTO, ALABAT KO PHUKATALINGOMA”</h5>
              <p>See you later at Kalimudan Hall in Brgy. Biaba-Damag, Marawi City</p>
            </div>
        </div>
        <div class="carousel-item">
          <img src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/6.jpg" class="d-block mx-auto w-100 h-100" style="max-width: 1000px; max-height: 500px;" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Early warning devices turned over to six barangays in #DitsaanRamain #LanaodelSur</h5>
              <p>Our Sustaining Transformative and Resilient Initiatives in Vulnerable Communities (#STRIVEC) project in Ranao is supported by Islamic Relief Canada...</p>
            </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <br><br>
    <div class="container px-3 px-lg-5">
      <hr>
    </div>
    <br>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-3 mx-3">
          <div class="card" style="width: 18rem; height: 550px; overflow: hidden;">
            <div class="text-center mb-3">
              <h6 class="card-title mb-0 pt-2">NEWS</h6>
            </div>
            <img src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/7.jpg" class="card-img-top border border-dark rounded mx-auto" alt="..." style="max-width: 80%; max-height: 80%;">

            <div class="card-body" style="overflow: hidden;">
              <h5 class="card-title">PIA Lanao Del Sur</h5>
              <h6 class="card-subtitle mb-2 text-muted">February 15, 2022</h6>
              <p class="card-text">TINGNAN! Upang tulungan sa pag alerto ng publiko sa mga panganib sa oras ng sakuna, ang Municipal Disaster Risk Reduction and Management Office ng Ditsaan-Ram...</p>
              <a href="#" class="btn btn-primary">Read more...</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mx-3">
          <div class="card" style="width: 18rem; height: 550px; overflow: hidden;">
            <div class="text-center mb-3">
              <h6 class="card-title mb-0 pt-2">NEWS</h6>
            </div>
            <img src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/10.jpg" class="card-img-top border border-dark rounded mx-auto" alt="..." style="max-width: 80%; max-height: 80%;">

            <div class="card-body" style="overflow: hidden;">
              <h5 class="card-title">Abot Kaalaman sa Pamilyang Bangsamoro project on its Planning Phase III</h5>
              <h6 class="card-subtitle mb-2 text-muted">December 6, 2021</h6>
              <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; height: 100px;">The AKAP-BM project helps provide primary education for early childhood in adherence to #NoChildrenLeftOut..</p>
              <a href="#" class="btn btn-primary">Read more...</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mx-3">
          <div class="card" style="width: 18rem; height: 550px; overflow: hidden;">
            <div class="text-center mb-3">
              <h6 class="card-title mb-0 pt-2">NEWS</h6>
            </div>
            <img src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/9.jpg" class="card-img-top border border-dark rounded mx-auto" alt="..." style="max-width: 80%; max-height: 80%;">

            <div class="card-body" style="overflow: hidden;">
              <h5 class="card-title">STRENGTHENING DEMOCRACY GLOBALLY</h5>
              <h6 class="card-subtitle mb-2 text-muted">December 10, 2021</h6>
              <p class="card-text">Representing the Youth, Kalimudan participated in the Parliament 101 Course for Civil Society Organizations in the Bangsamoro Region last November 29 in General Santos City, an..</p>
              <a href="#" class="btn btn-primary">Read more...</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="container px-3 px-lg-5">
      <hr>
    </div>
    <br>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-3 mx-3">
          <div class="card" style="width: 18rem; height: 550px; overflow: hidden;">
            <div class="text-center mb-3">
              <h6 class="card-title mb-0 pt-2">PROJECTS</h6>
            </div>
            <img src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/8.jpg" class="card-img-top border border-dark rounded mx-auto" alt="..." style="max-width: 80%; max-height: 80%;">

            <div class="card-body" style="overflow: hidden;">
              <h5 class="card-title">WFD Bangsamoro</h5>
              <h6 class="card-subtitle mb-2 text-muted">January 6, 2022</h6>
              <p class="card-text">To strengthen engagement with the Bangsamoro Transition Authority (BTA), civil society organizations (CSOs) in the Bangsamoro convene in Davao City for a two-day strategic planning to formulate strategies and action plans around issues of openness, transparen..</p>
              <a href="#" class="btn btn-primary">Read more...</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mx-3">
          <div class="card" style="width: 18rem; height: 550px; overflow: hidden;">
            <div class="text-center mb-3">
              <h6 class="card-title mb-0 pt-2">PROJECTS</h6>
            </div>
            <img src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/12.jpg" class="card-img-top border border-dark rounded mx-auto" alt="..." style="max-width: 80%; max-height: 80%;">

            <div class="card-body" style="overflow: hidden;">
              <h5 class="card-title">STRATEGY WORKSHOP in Ditsaan Ramain</h5>
              <h6 class="card-subtitle mb-2 text-muted">November 24, 2021</h6>
              <p class="card-text">The need for workshops about disaster prevention and mitigation of hazards strengthens the capacities of the people in Ditsaan to withstand or cope wi..</p>
              <a href="#" class="btn btn-primary">Read more...</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mx-3">
          <div class="card" style="width: 18rem; height: 550px; overflow: hidden;">
            <div class="text-center mb-3">
              <h6 class="card-title mb-0 pt-2">STATEMENTS</h6>
            </div>
            <img src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/11.jpg" class="card-img-top border border-dark rounded mx-auto" alt="..." style="max-width: 80%; max-height: 80%;">

            <div class="card-body" style="overflow: hidden;">
              <h5 class="card-title">Technology Has Revolutionized Us </h5>
              <h6 class="card-subtitle mb-2 text-muted">December 1, 2021</h6>
              <p class="card-text">Nowadays, people depend on technology for a lot of reasons especially information dissemination. It is significant that users to be mindful of the risks to..</p>
              <a href="#" class="btn btn-primary">Read more...</a>
            </div>
          </div>
        </div>
    </div>

    <br>
    <div class="container px-3 px-lg-5">
      <hr>
    </div>
    <br>

    <figure>
      <blockquote class="blockquote">
        <h1 class="display-1">We help people start on what they know and build on what they have
        </p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Company motto in <cite title="Source Title">Kalimudan</cite>
      </figcaption>
    </figure>

    

    <br />{% lorem 4 p random %}</h3>
  </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-white">
      <!-- Section: Social media -->
        <br>

      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                Kalimudan Foundation Incorporated
              </h6>
              <p>
                Kalimudan sa Ranao Foundation, Inc. is a Marawi City-based NGO
                established in 1988, focusing on empowering the marginalized
                Meranao Society through education and awareness.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">PARTNERS</h6>
              <p>
                <a href="#!" class="text-reset">WFD Bangsamoro</a>
              </p>
              <p>
                <a href="#!" class="text-reset">AKAP-BM</a>
              </p>
              <p>
                <a href="#!" class="text-reset">GCERF</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Islamic Relief PH.</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
              <p>
                <a href="#!" class="text-reset">About</a>
              </p>
              <p>
                <a href="#!" class="text-reset">News</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Projects</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Volunteering</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p>Biaba Damag, Marawi City</p>
              <p>kalimudanmarawi@yahoo.com</p>
              <p>Facebook@kfimarawi </p>
              <p>+639068356989</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div
        class="text-center p-4"
        style="background-color: rgba(0, 0, 0, 0.05)"
      >
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="!#">Kalimudan Foundation Inc.</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </body>
</html>
