{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-white pt-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'homepage:index'%}">
      <img
            src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/Kalimudan%20sa%20ranao%20inc.png"
            alt="KFI LOGO"
            class="img-fluid navbar-brand-img"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
            <li class="nav-item me-2">
              <a class="nav-link fw-bold" aria-current="page" href="{% url 'homepage:index'%}">Home</a>
            </li>
            <li class="nav-item dropdown me-2">
              <a
                class="nav-link dropdown-toggle fw-bold"
                href="{% url 'homepage:about' %}"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                About
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'homepage:orgchart' %}">Organizational Chart</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'homepage:visitkfi' %}">Visit KFI</a></li>
                <li><a class="dropdown-item" href="{% url 'homepage:factsandfigures' %}">Facts and Figures</a></li>
                <li><a class="dropdown-item" href="{% url 'homepage:administration' %}">Administration</a></li>
                <li><a class="dropdown-item" href="{% url 'homepage:vmgs' %}">Vision</a></li>
                <li><a class="dropdown-item" href="{% url 'homepage:vmgs' %}">Mission</a></li>
                <li><a class="dropdown-item" href="{% url 'homepage:vmgs' %}">Goals</a></li>
                <li><a class="dropdown-item" href="{% url 'homepage:accreditations' %}">Accreditations</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="{% url 'homepage:about' %}">About</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown me-2">
              <a
                class="nav-link dropdown-toggle fw-bold"
                href="{% url 'homepage:news' %}"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                News
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Projects</a></li>
                <li><a class="dropdown-item" href="#">Notices</a></li>
                <li><a class="dropdown-item" href="#">Statements</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="{% url 'homepage:news' %}">News</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown me-2">
              <a
                class="nav-link dropdown-toggle fw-bold"
                href="{% url 'homepage:volunteering' %}"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Volunteering
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Apply</a></li>
                <li><a class="dropdown-item" href="#">Notices</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'homepage:volunteering' %}">Volunteering</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown me-2">
              <a
                class="nav-link dropdown-toggle fw-bold"
                href="{% url 'homepage:projects' %}"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Projects
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Partners</a></li>
                <li><a class="dropdown-item" href="#">Information</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'homepage:projects' %}">Projects</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown me-2">
              <a
                class="nav-link dropdown-toggle fw-bold"
                href="{% url 'homepage:tesda' %}"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                TESDA
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#">Courses Offered</a>
                </li>
                <li><a class="dropdown-item" href="#">Information</a></li>
                <li><a class="dropdown-item" href="#">Facts and Figures</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'homepage:tesda' %}">TESDA</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown me-2">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img
                  src="https://raw.githubusercontent.com/oweeengk/Kalimudan/main/photos/searchbutton2.png"
                  alt="SEARCHBUTTON"
                  class="img-fluid navbar-brand-img"
                />
              </a>
               <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="searchDropdown">
                <li>
                  <form class="px-3 py-0">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="searchButton">
                      <button class="btn btn-outline-secondary search-btn-wide" type="button" id="searchButton">Search</button>
                    </div>
                  </form>
                </li>
          </ul>
        </div>
      </div>
    </nav>