{% extends 'base.html' %} {% load static %}

{% block title %}
<title> Projects - Kalimudan Sa Ranao </title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="mx-auto">
    <h1 class="display-1" style="color: green;">Projects
      <br>
      <img
      src="{% static 'images/projectsdiagram.png' %}"
      class="card-img-top border border-dark rounded mx-auto"
      alt="..."
      style="max-width: 100%; height: 700px;"
      />
      <br><hr>
      <h2 style="color: green;">Coverage/Scope Areas</h1>
        <ul>
          <li><p class="fs-5">Marawi City</span></p></li>
          <li><p class="fs-5">Iligan City</p></li>
          <li><p class="fs-5">Province of Lanao del Sur</p></li>
          <li><p class="fs-5">Lanao del Norte (4 Municipalities and 1 City)</p></li>
          <br>
          <h2 style="color: green;">NGO's Experience and Track Record in Year 2023 (sample)</h1>
            <table class="table table-hover table-borderless">
              <caption>Updated as of October 19, 2023</caption>
              <thead class="table-dark">
                <tr>
                  <th scope="col">Project</th>
                  <th scope="col">Areas Covered (Province/Municipality)</th>
                  <th scope="col">Source of Funding</th>
                  <th scope="col">Year/s Undertaken</th>
                  <th scope="col">Total Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="fw-bold">Kaped Ka CSO AKAP Bangsamoro MBHTE BARMM</td>
                  <td>Taguloan, Kapai, and Piagapo</td>
                  <td>Australian Aid</td>
                  <td>Ongoing: 2020-2025</td>
                  <td>2,500,000.00</td>
                </tr>
                <tr>
                  <td class="fw-bold">Inclusive and Democratic BARMM through Transitional Justice, Conflict Transformation, and Preventing Violent Extremist "(INCLUDE BARMM)"</td>
                  <td>Marawi City (IDPs Shelter)</td>
                  <td>International Initiatives Development (IID) / Global Community Emergency Resiliency Fund (GCERF)</td>
                  <td>Ongoing: 2023-2025</td>
                  <td>3,500,000.00</td>
                </tr>
                <tr>
                  <td class="fw-bold">Organization, Management, and Delivery of Social Mobilization and Mobile COVID19 Vaccination Services</td>
                  <td>Marawi City, Province of Lanao del Sur, Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)</td>
                  <td>Research Triangle Institute</td>
                  <td>Ongoing: June 26 - September 26, 2023</td>
                  <td>3,279,270.00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <br><br>
          
          <div style="display: flex; align-items-baseline;">
            <p class="fs-5 fw-bold" style="color: green; margin-right: 10px;">Partners:</p>
            <p class="fs-5" style="color: inherit; margin: 0;">The Partner's page displays the partners of KFI throughout the years and counting.</p>
            <div style="flex: 1; text-align: right;">
              <a href="{% url 'homepage:partners' %}" class="btn btn-success">See Partners</a>
            </div>
          </div>
          <div style="display: flex; align-items-baseline;">
            <p class="fs-5 fw-bold" style="color: green; margin-right: 10px;">Information:</p>
            <p class="fs-5" style="color: inherit; margin: 0;">Information displays the data about Kalimudan about their projects, coverage, and partners throughout the years. </p>
            <div style="flex: 1; text-align: right;">
              <a href="{% url 'homepage:projinformation' %}" class="btn btn-success">See Information</a>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
      