{% extends 'base.html' %}
{% load static %}

{% block title %}
<title> TESDA - Kalimudan Sa Ranao </title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="mx-auto">
    <figure>
      <blockquote class="blockquote">
        <h1 class="display-1" style="color: green;">
          TESDA page boilerplate
        </blockquote>
        <figcaption class="blockquote-footer">
          Company motto in <cite title="Source Title">Kalimudan</cite>
        </figcaption>
      </figure>
      <br />{% lorem 4 p random %}<br><br>
      <!-- Example split danger button -->
      <div class="btn-group">
        <button type="button" class="btn btn-danger">Action</button>
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
  </div>
  {% endblock %}
  